[2011-07-28 13:52] grandwazir opened #1 "Allow users to override localisation"
This is the first step towards adding customised messages to BanHammer. We will most likely do this by writing out the localisation in use when we first start BanHammer to the plugin directory and then check to see if the user has added any overrides into this file.

We could check for this in two different ways, if a node exists use it or additionally load the entire file and check to see if the

[2011-07-28 13:53] grandwazir commented on #1
Yes we do in case we add additional messages between versions which are not included in the current overrides. We can then throw warnings at the user to say they have an out of date localisation file or update it ourselves.

[2011-08-06 13:28] grandwazir opened #2 "Kick notification message using arguments instead of playerName"
When kicking players using the autocomplete name feature the notification message uses the name supplied rather than the name resolved. Needs fixing so it represents the proper name.

[2011-08-24 00:36] grandwazir commented on #2
Fixed in 1.4.0

[2011-08-24 00:36] #2 closed, assigned to grandwazir

[2011-08-28 19:49] metalozedex opened #3 "Doesn't work with permissions 3.1.6"
sorry I posted it a while ago on the forum thread, I used the command /pr metalozedex has banhammer.ban and it said I did have that permission but when I try to execute it ingame it says I don't have the permission...

here's the file in .rar it has the group and user files from permission
http://www.mediafire.com/?k84dm5m7ahmax4j
if you want to snoop around and check if it's in order...

by the w

[2011-11-13 09:40] ghost opened #4 "Database inbuilt in plugin and not use the Bukkit one?"
G'day,
Do you think its possible for you ta add your own database settings in the config and not use the bukkit ones? I know this might be hard but I have used many others that do, only because this is the only plugin I have that actually need to connect to a database online because of my ban list on my site and I now have to have all of my plugins that use the bukkit database on there.
And if you

[2011-12-22 10:32] JoneKone commented on #1
For some reason my BH doesn't output anything to chat when I pardon or ban somebody...

[2011-12-22 15:57] grandwazir commented on #3
Permissions API support was removed from BanHammer 1.5.0. If you still wish to use Permissions 3.1.6, you can use any version before 1.5.0.

[2011-12-22 15:57] #3 closed, assigned to nobody

[2011-12-31 12:33] JoneKone opened #6 "Pardoning a player erases old Database entries."
Currently when I /pardon aplayer

it will purge old entryes from the database.. So if I reban a person.. "first ban few days" warning ban.. then pardon while he is still banned and reban instantly permanently.

After that when I check the /bh history on mr aplayer It will only give me the permanently ban entry. Not the old 7 days ban..

Allso a feature where this pardon that I do could be automati

[2012-01-04 03:52] #4 closed, assigned to grandwazir

[2012-01-04 03:53] grandwazir commented on #4
I think you maybe able to define plugin specific settings in the bukkit.yml. There are no plans to seperate the configuration sorry.

[2012-01-18 15:44] digitalink2008 opened #7 "Is this mod still being updated?"
No updates on deb.bukkit since August of last year. Before i tried to use it I thought i would ask if its gone inactive?

Thanks,
D

[2012-02-05 15:12] MetalMadnessMC opened #8 "Server message to players when ban/unban"
I would like a feature a message (on/off in config maybe?) Something like when you get banned.
(name) has been banned for the following reason:(reason)

[2012-02-11 22:04] infernokun opened #9 "Permissions"
I gave my mods the banhammer.ban, banhammer.ban.*, and banhammer.ban.long. They cant ban people :/.

[2012-02-26 12:44] grandwazir commented on #8
It already exists. Give the players who should receive the message the following permission.

[code]

[2012-02-26 12:44] #8 closed, assigned to grandwazir

[2012-02-26 12:47] grandwazir commented on #7
It has not gone inactive just I do not use dev.bukkit as much as I should do. All new releases are added on there from now on.

[2012-02-26 12:47] #7 closed, assigned to nobody

[2012-02-26 12:50] grandwazir commented on #6
This is currently by design. When you pardon a player I imagined that you would want to clear any record of that ban; for example if you made a ban by mistake.

Time being added would be something I would consider adding although I do not currently have a time frame to adding it to the plugin.

[2012-02-26 12:51] grandwazir commented on #9
Run the plugin with debugging on and that will tell you when you attempt to use a command, what permission you require.

[2012-03-08 08:04] ghost opened #10 "web page with ban info?"
Would someone be able to make simple a web page that ties into MySQL to show ban list reason and time left?

[2012-03-11 17:10] grandwazir commented on #10
I have now put an [example](https://github.com/grandwazir/BanHammer/wiki/web) on the wiki.

[2012-03-11 17:10] #10 closed, assigned to grandwazir

[2012-03-11 17:15] grandwazir opened #11 "Modify PurgeCommand to optionally only purge last ban made"
This is a requirement to allow bans which have been pardoned early to still be available in the database.

[2012-03-11 17:17] grandwazir opened #12 "Add option to prevent bans being made with no reason"
This would help prevent mistakes and make produce more meaningful bans, both for users and administrators.

[2012-03-11 17:19] grandwazir opened #13 "Convert all commands to use new BukkitUtilities structure"
This is necessary for localisation and to bring it into step with changes in the underlying PluginCommand class.

[2012-03-11 17:20] #9 closed, assigned to nobody

[2012-03-11 17:21] grandwazir opened #14 "Ability to grant immunity to certain players"
This is useful to prevent alias or other moderators banning administrators for example.

[2012-03-14 19:52] grandwazir opened #15 "Specifying a total to /bh recent does not work"
Fix issue where /bh recent does not function correctly when specifying the number of bans to dispaly.

[2012-03-31 18:19] Silvertraveler123 opened #16 "Ban Glitch: Bans Players"
I have recently gotten banned from a server, and no not by a staff member, but by a hacker or glitch, the staff members and owner looked in their files and found no ban records for me. This leads me to believe that there is some freaky kind of glitch, or it makes security in servers have flaws, I tried to go to the server once a day, but the problem still hasn't been resolved, and it continues to

[2012-04-07 13:52] grandwazir commented on #16
BanHammer has spoken is not my plugin it is another with the same name. I can not help you I am afraid.

[2012-04-07 13:53] #16 closed, assigned to nobody

[2012-04-07 14:47] grandwazir opened #17 "Name pattern matching too liberal"
If you leave a space before a reason the pattern matching will select a random name to ban.

[2012-04-23 04:53] fromgate commented on #6
I'm voting for this feature too.
Sometimes we unbanning people before ban period. But we need to save ban-history.

[2012-04-23 04:58] fromgate opened #18 "MySQL connection closed..."
[code]

2012-04-22 14:16:26 [SEVERE] Could not pass event PlayerLoginEvent to BanHammer
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:303)
    at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62)
    at org.bukkit.plugin.SimplePluginManager.callEvent(SimplePluginManager.java:459)
    at net.minecraft.server.S

[2012-04-23 06:02] grandwazir commented on #18
This means that there is a problem between the plugin and your MySQL server. I would suggest either switching to SQLite (make sure to export and then import your bans before you do that) or troubleshoot why the connection is timing out. If you are unsure how to do this ask whoever hosts your server for you. I use MySQL myself and have not encountered that error with the default settings.

[2012-04-28 12:36] grandwazir opened #19 "Unable to pardon players in Vanilla when BanHammer is active"
Change the pardon command to unban players from both lists to avoid this situation.

[2012-04-28 13:57] #17 closed, assigned to grandwazir

[2012-04-28 15:58] #1 closed, assigned to grandwazir

[2012-04-28 15:58] #12 closed, assigned to grandwazir

[2012-04-28 15:58] #13 closed, assigned to grandwazir

[2012-04-28 15:58] #15 closed, assigned to grandwazir

[2012-04-28 15:58] #19 closed, assigned to grandwazir

[2012-05-03 17:02] Ghukek opened #20 "Kicks creating an internal error."
2012-05-03 11:59:19 [SEVERE] null
org.bukkit.command.CommandException: Unhandled exception executing command 'kick' in plugin BanHammer v1.9.0
at org.bukkit.command.PluginCommand.execute(PluginCommand.java:42)
at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:166)
at org.bukkit.craftbukkit.CraftServer.dispatchCommand(CraftServer.java:473)
at net.minecraft.server.NetServerHandle

[2012-05-03 18:54] grandwazir commented on #20
Thank you for reporting this issue. It has been fixed in the latest version of BanHammer.

[2012-05-03 18:54] #20 closed, assigned to grandwazir

[2012-05-05 01:57] haveric opened #21 "NullPointerException on server startup/reload"
Here is the error that I am getting when I first start up the server or any time I /reload the server:
2012-05-04 20:20:30 [SEVERE] Error occurred while enabling BanHammer v1.9.1 (Is it up to date?)
java.lang.NullPointerException
    at name.richardson.james.bukkit.banhammer.BanHammer.registerCommands(BanHammer.java:191)
    at name.richardson.james.bukkit.banhammer.BanHammer.onEnable(BanHammer.ja

[2012-05-09 19:05] MarioG1 opened #22 "Ban the wrong player"
The player name matching function isn't working correct. If you try to ban one person it banns another person.

An example:

ProGamer99 and PandaMan play on my server. Now it ban Progamer99 with
/ban ProGamer99 t:1h Spamming but the player name matching function ban's now PandaMan instead of ProGamer99.

[2012-05-22 22:29] CyanLights opened #23 "BanHammer not following PEX hierarchy"
Hello,

I am not certain if this was an intended feature (or lack thereof) or if I am just completely missing something. However, it has come to my attention that my MODs (lowest ranked staff) can ban or kick Owners (highest rank). Is there a way to only let MODs ban Members, and so on and so forth?

Thank you kindly.

Current Build:
- Craftbukkit 2149
- Essentials 2.9.200 Dev
- PermissionsEX 1.9.

[2012-05-23 20:37] grandwazir commented on #23
BanHammer does not have any bias towards any permission systems, meaning it only uses features that are common to SuperPerms and as such does not support PEX's hierarchy system.

Once upon a time BanHammer did support a system which gave a player's actions a certain amount of weight. A heavier player could ban lighter players. That said, the system fell down because it could not check the weight o

[2012-05-23 20:38] grandwazir commented on #22
Does this happen with the latest BanHammer version? Can you duplicate it every time?

[2012-05-23 20:42] grandwazir commented on #21
It appears to be having an issue registering one of the final commands which are just quasi-alias to the nested commands. These commands are:
- /ban
- /kick
- /pardon

There should not be a circumstance when this would fail with that error. Could you turn on debugging please and post the output of that when the error occurs. It will help me identify where the problem is. Also try using the above t

[2012-05-23 20:42] grandwazir commented on #18
Assuming this is fixed due to inactivity and closing the issue.

[2012-05-23 20:42] #18 closed, assigned to nobody

[2012-05-23 21:18] haveric commented on #21
It would appear /pardon does not work.

Here is the full startup log: http://pastebin.com/Dty238zk
Here is the chat log in game: http://i.imgur.com/RVZai.png

Also note that when I initially banned tbg10101, it did nothing because he was an op.  Perhaps a different message here would be helpful similar to the kick message saying he is exempt from being kicked.

Let me know if there's anything else

[2012-05-23 21:23] grandwazir commented on #21
You have a plugin conflict somewhere. All BanHammer messages start with [BanHammer] so whatever command you used to ban your friend was not the BanHammer command.

I can see further up you have the ban component for CommandBook enabled. Try disabling this and then try again.

[2012-05-23 21:46] haveric commented on #21
Well don't I feel silly now.  Thanks for you time.

[2012-05-23 21:46] #21 closed, assigned to grandwazir

[2012-05-24 18:19] MarioG1 commented on #22
I had some intensive testing on my server and i wasn't able to reproduce this error. I think it is fixed now :)

[2012-05-25 15:12] t00thpick1 opened #24 "Wanted to add to your wiki but couldnt"
I had some code for a different type of banlist for your wiki, but couldn't add it, here it is:
## Creating a full ban list

You can create a full ban list easily by selecting all records in the bh_bans table. An example of how to do this is below. You will need to change the database settings to match your own.

[code]

Next you need to select all the bans from the bh_bans database.

[code]

Now

[2012-05-26 20:15] grandwazir commented on #24
Thanks! I'll add to to the page as another list people could use, I had to close the wiki as it got vandalised recently.

[2012-05-26 20:15] #24 closed, assigned to nobody

[2012-05-26 20:18] grandwazir commented on #22
Ok, thanks for letting me know. I'll close this issue now.

[2012-05-26 20:18] #22 closed, assigned to grandwazir

[2012-06-13 14:33] ryans1230 opened #25 "Permissions"
Hello,
I have installed banhammer on my server and there are some few issues having players with no permission of the banhammer nodes.
Yet they still have access to use /bh history and /bh limits, I'm wondering if this is a bug due to your plugin if not may I please have some assistance on this issues. The plugins I have used to organize the permissions is Essentials and GroupManager
Thanks, Heinr

[2012-06-13 15:20] grandwazir commented on #25
This would make sense since those commands are available to everyone by default. I would think that your permission settings are not being applied correctly. Could you post your group manager config? Also try turning on debugging in the BanHammer configuration; this may help narrow things down.

[2012-06-14 06:30] ryans1230 commented on #25
Here is my group.yml

# Group inheritance

# any inherited groups prefixed with a g: are global groups

# These groups are defined in the globalgroups.yml

# and can be inherited in any worlds groups/users.yml.

#

# Groups without the g: prefix are groups local to this world

# and defined in the this groups.yml file.

groups:
  Owner:
    default: false
    permissions:
    - '_'
    - essential

[2012-06-21 11:08] ryans1230 commented on #6
I was thinking of something along the same lines also. My idea was when looking up the history of a player it would return with another line called "Status:". It would have three options; "Banned.", "Expired." or "Pardoned by USERNAME reason:MESSAGE." You would have to modify the pardon action to allow for a reason to be given (but can be left empty).

For example: Notch discovers that Griefer1994

[2012-07-01 12:38] grandwazir commented on #25
Your permissions file looks fine. I am not sure where the issue lies.

Try disabling all other plugins other than BanHammer and GroupManager, simplify your permissions file and then see if it works.

[2012-07-10 12:48] ryans1230 commented on #25
Ok. Now we have an issue with the ".notify" node. I have given it to moderators so they know who gets banned by other mods. We have noticed that some players are getting the notification message when a player is banned/kicked. From our studies, it appears that a group, "Trusted" (the rank below moderator), can see them. Is this an issue with the inheritance or does the ".notify" node apply to ever

[2012-07-14 10:27] grandwazir commented on #25
From you permission file above it doesn't seem you are giving anyone that permission. If you turn on debugging, the log should tell you what the default permission mode is for that node on startup.

[2012-07-25 08:06] Moepfel1995 opened #26 "Adding Bans to the History"
It is possible that you add in the /bh history a history of kicks,bans and tempbans?
it would be very cool.

[2012-07-25 12:46] grandwazir commented on #26
BanHammer already tracks temporary bans and permanent bans in the history. Are you asking for kicks to be added to that list as well?

[2012-07-26 02:44] bigdogdk opened #27 "Kick Broadcast"
When kicking players for some reason it doesn't broadcast it on the server. Do we have a setting wrong or is that not implemented? It would help if it would broadcast kicks so someone isn't kick multiple time for doing something.

[2012-07-26 08:02] grandwazir commented on #27
Notifications are sent to people who have the "banhammer.notify" permission. Have you assigned that permission?

[2012-07-26 08:19] Moepfel1995 commented on #26
yes i know it tracks temporary bans but not full bans when we pardon someone is it not written in the history and kicks in the history are good too

[2012-07-26 13:42] bigdogdk commented on #27
"bannhammer.notify" is assigned. bans are broadcasting but not kicks. if it helps we are using 1.10.2

[2012-07-26 23:30] #6 closed, assigned to grandwazir

[2012-07-27 00:17] grandwazir commented on #27
I'll look into it. It should be doing the same for kicks.

[2012-07-27 00:18] #25 closed, assigned to grandwazir

[2012-07-27 01:42] bigdogdk commented on #27
I looked at the code (I'm not very good with java yet) but I didn't see anything about broadcasting kicks as if you had accidently removed it.

[2012-07-27 05:54] #26 closed, assigned to grandwazir

[2012-08-03 15:14] Moepfel1995 opened #28 "Adding location to the history"
Hello,

Can you please add the option to save locations to the history? Often we dont know what the banned player did exact, and when we see this location again, we can decide much better.

[2012-08-06 04:52] rmb938 opened #29 "Can't ban admins"
Is it possible to make it so you can't ban admins? Like is a user has banhammer.admin they can't be banned? Just for a safety net.

[2012-08-06 17:06] Tuqe commented on #29
grandwazir is already planning this feature. See this [issue](https://github.com/grandwazir/BanHammer/issues/14).

[2012-08-06 20:04] grandwazir commented on #14
Fixed in latest development build.

[2012-08-06 20:04] #14 closed, assigned to grandwazir

[2012-08-06 20:04] grandwazir commented on #29
Added in latest development build.

[2012-08-06 20:04] #29 closed, assigned to nobody

[2012-08-08 02:41] grandwazir opened #30 "When pardoning a player, optionally deassociate them in Alias."
Currently if you pardon a player in BanHammer you need to manually go and disassociate  player in Alias otherwise they will automatically be banned again when they attempt to join. Add an option for BanHammer to do this for us.

[2012-08-08 16:05] t00thpick1 opened #31 "I can log into server even though I banned myself...."
2012-08-08 09:02:05 [SEVERE] Could not pass event AsyncPlayerPreLoginEvent to BanHammer
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:332)
    at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62)
    at org.bukkit.plugin.SimplePluginManager.fireEvent(SimplePluginManager.java:477)
    at org.bukkit.plugin.Simp

[2012-08-08 16:35] t00thpick1 commented on #31
ON second thought this is probably to do with me using a free offsite mysql database on my test server.  Just a confirmation of that being the cause would be nice.   As I don't wanna put anything on my live server if it won't work.

[2012-08-08 21:16] grandwazir commented on #31
I would imagine that is the reason. Swap to using SQLite and see if that fixes the issue.

[2012-08-12 01:15] jorgenchr opened #32 "Errors with Player-Tracker plugin after banhammer 2.01 upgrade!"
2012-08-11 21:10:50 [INFO] [P-Tracker] BanHammer detected, attempting to use as banlist.
2012-08-11 21:10:50 [SEVERE] Error occurred while enabling Player-Tracker v1.3 (Is it up to date?)
java.lang.NoSuchMethodError: name.richardson.james.bukkit.banhammer.BanHammer.getHandler(Ljava/lang/Class;)Lname/richardson/james/bukkit/banhammer/BanHandler;
    at org.LostTheGame.PlayerTracker.Banlist.BanHamme

[2012-08-12 01:33] bigdogdk commented on #27
Just updated plugin on server and kicks are still not being broadcasted to everyone.

[2012-08-12 10:50] grandwazir commented on #32
I have made a pull request against P-Tracker which fixes this issue. It is up to the author now to update his plugin.

[2012-08-12 10:50] #32 closed, assigned to nobody

[2012-08-12 14:07] grandwazir commented on #30
Not optional but now implemented

[2012-08-12 14:07] #30 closed, assigned to grandwazir

[2012-08-21 02:20] grandwazir commented on #28
This is unlikely to happen. How would BanHammer decide what location to log? What happens if you then rollback the damage later and the proof is gone?

[2012-08-22 07:03] xLRDx commented on #27
Hmm bigdogdk is right there is only a notify for bans maybe change your ticket to a feature :]

[2012-08-23 00:57] #31 closed, assigned to grandwazir

[2012-08-23 13:55] ryans1230 commented on #11
You could add like a purgelast command and tie it into the ban.\* permission. I like how all bans are now on record, regardless if they are pardoned or not, but my Mods keep making mistakes and its become hard to manage. So if you could please make it part of banhammer.ban.*, that would be great.

[2012-08-23 18:11] grandwazir commented on #11
I was thinking on modelling it like the pardon command, with purge own and others with an additional option to purge all bans.

So if you wanted to delete the last ban you made you would type `/bh purge fred` and if you wanted to purge all bans you would to `/bh purge -A Fred.

[2012-08-24 15:40] #27 closed, assigned to grandwazir

[2012-08-24 17:48] NewBest opened #33 "Temp Ban"
Hi!
If I try to tempban a player and I type /ban [player] [time] [reason](i.e. /ban test 10 x), the ban reason will be "[time] [reason]" and time Permanent

How I can tempban?

[2012-08-24 17:56] NewBest commented on #33
Sorry, I have just discovered!
The best banning plugin!
I'll use it forever on my server :)

[2012-08-24 17:56] #33 closed, assigned to nobody

[2012-08-25 01:47] Plehix opened #34 "Pardoning with MySQL results in a server crash"
Hi, I'm using BanHammer 2.0.2 with a MySQL database setup and when pardoning a player, the server crashes with this report:
http://ipwnage.com/stuff/crash-2012-08-24_21.36.33-server.txt

The player doesn't seem to be unbanned, rather a duplicate entry of his ban seems to be entered into the database when issuing this command: http://ipwnage.com/stuff/bhdb.PNG

The plugins currently being used: Plu

[2012-08-25 23:03] grandwazir commented on #34
This is a bug which was in the 2.0.0 snapshot, the result of which is the player is saved twice into the database by accident. This results in this error.

To fix it you first need to find the duplicate player in you ban hammer_players table and delete it. Additionally you will need to delete any other reference to that ID in ban hammer_bans and banhamer_player_bans.

A quicker fix is to rename th

[2012-08-25 23:22] Plehix commented on #34
I've reverted back to a 1.10 release as I just prefer it. Restored my old
DB and can use my ban page again.

Thanks, though.
On Aug 25, 2012 7:03 PM, "grandwazir" notifications@github.com wrote:

[2012-08-25 23:26] #34 closed, assigned to grandwazir

[2012-08-26 14:28] ciulic opened #35 "Ban reason missing"
Hi
when you ban somebody with /ban nick t:10m any_reason that person can see the reason but if he tries to reconnect
he is seeing only the time and NO REASON.

Is this something that can be fixed?

[2012-08-26 19:38] grandwazir commented on #35
Currently I am limited with the amount of text available on that screen. There is not enough space (last time I tried) to put the time and the reason.

Could you suggest a format you would like?

[2012-08-26 19:43] ciulic commented on #35
I think the format I would like to have/see is something like this:
"reason" - 205 hours 43 minutes remaining
I really don't know what is the characters limit, but what is most important, obviously, is the Reason.

Best Regards.

[2012-08-30 02:32] bigdogdk commented on #27
Thank you for fixing this.

[2012-09-02 19:47] CyanLights opened #36 "BanHammer Hanging on Startup"
Hi there again,

Our server seems to be encountering an issue where BH hangs at startup. I enabled debug and started the server, it hangs while "Enabling [the] ebean database".

We are running bukkit 2320 (1.3.1).

[Edit] It can also be noted that this is a larger server, and that our bans are somewhere above 500. I don't know if this makes a difference.

[2012-09-03 20:55] grandwazir commented on #36
This is most likely due to the database connection timing out. Check that your database settings are correct and your firewall is not blocking it.

[2012-09-03 20:56] grandwazir commented on #36
500 ban should not cause this issue, I personally run with around at number and do not have issues. Could you explain what your database setup is?

[2012-09-03 23:58] CyanLights commented on #36
It is a normal MySQL database. We usually configure it in each plugin's configuration file (mcMMO, Survival Games). Is there another place that we need to configure it? I saw a section for it in bukkit.yml.

Currently, there is a BanHammer.db file in the BanHammer folder, so I assumed it was using some kind of SQL lite and not our main database.

[2012-09-04 06:29] grandwazir commented on #36
Yes, there is documentation on how to do this. Could you disable other plugins then paste the output of the console log with debugging on?

[2012-09-14 05:17] CyanLights commented on #36
As it turns out, it had nothing to do with BH.

I noticed my hosting filesystem had run out of inodes but it had plenty of space remaining, so I started searching around.

mcMMO decided it was cool to dump its block log records in every /world/mcmmo_data folder it could make. It was literally over 20k files and took about an hour to remove. Why these don't get put inside the mcMMO database, I do n

[2012-09-30 13:20] Brottweiler opened #37 "Conflict with SimpleMail?"
When having BanHammer and SimpleMail installed at the same time, this error appears.

SimpleMail: http://dev.bukkit.org/server-mods/odium-simplemail/

[SEVERE] java.lang.NullPointerException
[SEVERE]    at name.richardson.james.bukkit.banhammer.BanHammer.registerCommands(BanHammer.java:167)
[SEVERE]    at name.richardson.james.bukkit.banhammer.utilities.plugin.AbstractPlugin.onEnable(AbstractPlugi

[2012-10-07 21:25] grandwazir commented on #36
No problem. I'll close this bug report for you.

[2012-10-07 21:25] #36 closed, assigned to grandwazir

[2012-10-08 12:43] ryans1230 opened #38 "Purge Command Does Not Work"
Every time I try to purge someone's records, I get "PURGECOMMAND.PURGED" on the return. I am OP and every other command works.  We are a 1.3.2 server and I've tried reloading the plugin, the server, everything.

[2012-11-14 23:26] CyanLights opened #39 "Could not pass event AsyncPlayerPreLoginEvent"
Hi,

I'm running a 1.4 bukkit server and this error occasionally happens. Any idea of the cause?

Thank you. Your plugin is still our favorite.

23:20:00 [SEVERE] Could not pass event AsyncPlayerPreLoginEvent to BanHammer v2.
0.2
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.ja
va:341)
        at org.bukkit.plugin.RegisteredListener.c

[2012-11-15 02:46] rmb938 opened #40 "Multiple of the Same person in database"
Some how two of the same person is appearing in the database and you are unable to ban them because of that. I am using MySQL. I don't know what is causing it.

[2012-11-18 15:30] grandwazir commented on #40
This is a duplicate of #34. It is a rare situation that BanHammer can get itself into. If you follow the instructions in that thread you will be able to solve the problem.

If you are unable to do that you can email me a copy of your database and I will fix it for you.

[2012-11-18 15:30] grandwazir commented on #39
This is a duplicate of #34. It is a rare situation that BanHammer can get itself into. If you follow the instructions in that thread you will be able to solve the problem.

If you are unable to do that you can email me a copy of your database and I will fix it for you.

Glad to know you still like using my plugin :D

[2012-11-18 15:32] grandwazir commented on #38
This just means the translation is missing. The command still works just you do not get the feedback to tell you what it has done.

[2012-11-19 02:43] CyanLights commented on #39
The issue is resolved. Thanks =)

[2012-11-19 02:43] #39 closed, assigned to grandwazir

[2012-11-19 02:44] #23 closed, assigned to grandwazir

[2012-11-19 13:39] ryans1230 commented on #38
Just tried it and the person still has a record... It does not affect database.

[2012-11-20 15:39] rmb938 commented on #40
Yes that is what I have been doing but if you have thousands of different plays play on your server every week and of course a lot of bans this because a very common issue. Can't you just add something that keeps a list of who is in the database and who isn't so this bug doesn't happen. Something like this should be a very easy fix.

[2012-12-13 16:23] xDeeKay opened #41 "Purge + Announce Issue"
I can't seem to purge any players bans. I get the message 'PURGECOMMAND.PURGED' and the bans of a player still exist after running the command.

Also, players are receiving notifications when people are banned or kicked without the banhammer.notify permission. The permission isn't in any user or group permission list.

[2012-12-13 18:13] grandwazir commented on #40
The bug was easy to fix and has been fixed. It was introduced with a development build that was released briefly a while ago. The problem does not occur anymore.

What is harder to do is to create a tool to automatically fix these errors when they occur. The amount of people who have had this problem means that has not been necessary.

That said I am obviously concerned if you are still having iss

[2012-12-13 18:21] grandwazir commented on #41
Thanks for reporting this issue.
1. This is a bug and will be fixed in the next version.
2. The second issue is that way by design.

`banhammer.notify` is given to everyone by default. If you do not wish everyone to get the notifications you will need to set it to false for those players using your favorite permission manager or through bukkit.yml.

[2012-12-13 23:24] #38 closed, assigned to grandwazir

[2012-12-13 23:25] grandwazir commented on #41
Fixed another issue with this command and not returning helpful error messages.

[2012-12-13 23:25] #41 closed, assigned to grandwazir

[2012-12-13 23:26] grandwazir commented on #28
Closed due to lack of activity.

[2012-12-13 23:26] #28 closed, assigned to grandwazir

[2012-12-13 23:29] grandwazir commented on #37
Works correctly on my system with the latest version of both plugins. Please reopen if you are still encountering problems.

[2012-12-13 23:29] #37 closed, assigned to nobody

[2012-12-30 01:27] #40 closed, assigned to grandwazir

[2013-01-05 18:54] ryans1230 opened #43 "Another Purge Problem"
We are now getting an internal error message when trying to purge players with a history. It throws a "player has no bans" if they don't have any bans on record, but when we try a player with bans, we get an internal error message (tested on multiple players).

[2013-01-06 00:02] grandwazir commented on #43
You will need to provide more detail for me to be able to help you. Copy and paste the error that appears in the server log.

[2013-01-06 06:34] ryans1230 commented on #43
I just got it to work on a banned player with two records. Yet it won't work on expired bans. As time goes on, it appears that it can purge some records but not other. I don't know what would cause this.

Server log: http://pastebin.com/1VrxdkSa

[2013-01-06 11:25] grandwazir commented on #43
I think this is due to the cascading option I added a while back. I'll look into this further.

[2013-01-17 23:37] INemesisI opened #44 "Ability to update a ban"
Hey,
could you add a feature to update a tempban to permban? When i want to permban a previously tempbanned player the plugin reports, that the player is already banned.

[2013-01-22 05:53] thekiller123 opened #45 "I need help!"
Hello,

My BanHammer is working fine but i need to ban players for a tempban it tell me to put a time but i don't know how to use it!!!!!!!!!!!

[2013-01-22 06:01] thekiller123 commented on #45
NVM CLOSE THE F OUT OF THIS

[2013-01-26 23:35] #45 closed, assigned to nobody

[2013-01-31 06:45] MarioG1 opened #46 "BanHammer.ban.x permissions are broken"
If i give my moderators banhammer.ban and banhammer.ban.long they can still ban longer than the specified time in the config file.

Bukkit: 1.4.7 R1.0
BanHammer: 2.0.4
Permissiosn:  PermissionsBukkit v2.0

[2013-02-08 18:52] grandwazir commented on #46
Thanks for reporting this bug. I will investigate it this weekend.

[2013-02-12 19:03] jaboy opened #47 "Cannot ban (constraint error)"
Hey ... when i try to ban i get this error

com.mysql.jdbc.exceptions.jdbc4.MySQLIntegrityConstraintViolationException: Cannot add or update a child row: a foreign key constraint fails (`66682_clientdb`.`banhammer_bans`, CONSTRAINT `fk_banhammer_bans_creator_2` FOREIGN KEY (`creator_id`) REFERENCES `test`.`banhammer_players` (`id`))

[2013-02-12 20:46] jaboy commented on #47
Sorry im being a derp .. i imported the data from an other database and the constraints where pointing to the old database ... fixed by editing the constraints

[2013-02-12 20:46] #47 closed, assigned to nobody

[2013-02-21 23:38] #43 closed, assigned to grandwazir

[2013-02-21 23:51] #46 closed, assigned to grandwazir

[2013-02-24 16:17] ArtificialTruth opened #48 "Problem with banhammer.ban.short"
So if you give a group the permission banhammer.ban.short they still can't use
/ban testplayer t:short reason

[2013-02-24 16:18] grandwazir commented on #48
Turn debugging on and it will tell you what permission you are missing.

[2013-02-24 16:22] ArtificialTruth commented on #48
Can i do this ingame? or do need to restart the server?

[2013-02-24 16:24] grandwazir commented on #48
You change it in your config.yml then restart the server.

[2013-02-24 16:25] ArtificialTruth commented on #48
Hmm ill try on a test server then. brb. Can't close my main server down

[2013-02-24 16:26] ArtificialTruth commented on #48
Get ''You are not allowed to do that''

[2013-02-24 16:27] ArtificialTruth commented on #48
I tried to give the permission banhammer.ban to the group and banhammer.ban.short
Then i can ban more than the limit defined for banhammer.ban.short

[2013-02-24 16:28] grandwazir commented on #48
Have you got the latest version? This bug was fixed in 2.0.5.

[2013-02-24 16:29] ArtificialTruth commented on #48
ban-hammer-2.0.5 yup

[2013-02-24 16:30] grandwazir commented on #48
Can you post the output of your server log when debugging and you run the command please.

[2013-02-24 16:35] ArtificialTruth commented on #48
2013-02-24 17:26:26 [INFO] TheOnlyRealTGS issued server command: /ban test t:short
2013-02-24 17:26:26 [FINE] [BanHammer] <BukkitPermissionManager> Checking if permissible has banhammer.ban.

[2013-02-24 16:35] ArtificialTruth commented on #48
I need the permission banhammer.ban. ?

[2013-02-24 18:18] grandwazir commented on #48
They should only be able to ban higher than the limit in two situations. 1) if they have ban hammer.ban.\* 2) if they are an operator since they get all permissions by default. Can you post the relevant section of your permissions file?

[2013-02-24 18:40] ArtificialTruth commented on #48
Admin:
    default: false
    permissions:
    - banhammer.ban
    - banhammer.ban.short
    - coloredTexts.group.aqua
    - spleef.join.1
    - sg.arena.join
    - sg.arena.vote
    - sg.lobby.join
    - sg.arena.nocmdblock
    - banhammer.history.*
    - banhammer.kick
    - banhammer.pardon.*
    - banhammer.notify
    - simpleprefix.admin
    - cleanchat.exempt
They aint op

[2013-03-02 16:46] ArtificialTruth commented on #48
So how to fix this?

[2013-03-03 00:46] grandwazir commented on #48
What permission plugin you using?

[2013-03-03 09:52] ArtificialTruth commented on #48
PEX

[2013-03-10 15:02] ArtificialTruth commented on #48
Could that be the problem? And does it work for you?

[2013-03-13 19:00] grandwazir commented on #48
I can duplicate this issue now. I am working on a fix.

[2013-03-13 19:29] #48 closed, assigned to nobody

[2013-03-13 19:31] grandwazir commented on #48
Now works in the latest version. Was an issue with all limits defaulting to true when you gave someone the banhammer.ban node. Changed so the node defaults them all to false. Thanks for reporting this issue and your patience.

[2013-03-13 19:41] grandwazir opened #49 "Unable to ban players temporarily with just banhammer.ban.*"
There is an issue where if you attempt to ban a player with just banhammer.ban.\* for an arbitrary amount of time, it will fail. What it should do instead is ban normally.

[2013-03-13 19:42] #49 closed, assigned to grandwazir

[2013-03-13 19:58] ArtificialTruth commented on #48
Np and thanks for fixing it

[2013-03-29 03:48] SpaZMonKeY777 opened #50 "Missing permission?"
So in previous versions of BanHammer, I was able to negate the permission '- banhammer.notify' so that my non-staff players wouldn't see broadcast messages when a players kicked/banned. Did this get removed? Is there some other way to disable this permission?

This happened after upgrading to 2.1.0.

[2013-03-29 08:57] grandwazir commented on #50
It has not been removed, just I have not included it the documentation yet. Has your old setup stopped working? I'll see if I can duplicate it.

[2013-04-12 15:48] MarioG1 opened #51 "Permissions are broken (PermissionsEX)"
If i give my moderators banhammer.ban and banhammer.ban.long they can still ban people longer than the specified time. Even if i give them only banhammer.ban.long they can ban people.

PEX: 1.19.5
Bukkit: #2742
Banhammer: 2.1.0

[2013-04-13 02:21] grandwazir commented on #51
Hi Mario, this is intentional. Please see [this page](http://grandwazir.github.io/BanHammer/getting_started.html#permissions) for more information.

`banhammer.ban` functions as `banhammer.ban.*` used to do. If you only want someone to ban for a long time just give them `banhammer.ban.long`.

[2013-04-13 13:29] MarioG1 commented on #51
Thx for the info i didn't read the change log last time.

But there is still a bug if you only have banhammer.ban.long and you set the limit for long to 10 days you can't ban people for 11 days but you can ban people permanent (specify no time).

[2013-04-19 03:09] 2Fast08 opened #52 "Banhammer notify"
I have given the user group banhammer.notify and have all other groups inheriting from the main group. However not one person gets a notification about kicks or bans.

[2013-04-20 09:38] grandwazir commented on #51
I'll double check this tomorrow.

[2013-04-20 09:39] grandwazir commented on #52
Thank you for reporting this issue, I'll have a look at this for you tomorrow.

[2013-05-13 15:07] ArtificialTruth opened #53 "[Request] Reload config command"
Would be great!

[2013-05-15 15:31] ArtificialTruth opened #54 "Permissions problem banhammer.ban.[limit]"
If you have the permission banhammer.ban.short etc you can only ban up to the limit (could be 3 days etc) with /ban test t:2d Hacker but you can also permban (/ban test)

[2013-05-17 21:04] firetire opened #55 "Add ban reason to temporary ban message"
It would be great if you could add the ban reason to the temporary ban message, or add the possibility to allow us to add it in the localization file

[2013-05-19 11:20] #11 closed, assigned to grandwazir

[2013-05-19 11:22] grandwazir opened #56 "Add undo command to purge the last ban you made to help fix mistakes"
This command will avoid needing to give moderators access to the purge command to fix mistakes and help keep the database tidy.

Will be time limited, so for example you can only use the undo command within 1 minute of making the original ban to avoid abuse.

[2013-05-19 12:50] #56 closed, assigned to grandwazir

[2013-05-19 13:11] #35 closed, assigned to grandwazir

[2013-05-19 13:11] #55 closed, assigned to grandwazir

[2013-05-19 13:12] grandwazir commented on #53
Why would you want this option?

[2013-05-19 13:15] grandwazir commented on #50
This has been tested as working on 2.1.0. I would think this is a problem with your permission setup rather than a bug in BanHammer. I would contact whoever makes your permission plugin to find out how to nullify a permission node for a player.

[2013-05-19 13:33] grandwazir commented on #50
Having looked into this more carefully it is indeed a bug in BanHammer. It has now been fixed. Thank you for reporting this bug and for your patience.

[2013-05-19 13:34] #50 closed, assigned to grandwazir

[2013-05-19 13:34] #52 closed, assigned to grandwazir

[2013-05-19 13:40] #51 closed, assigned to nobody

[2013-05-19 13:40] #54 closed, assigned to grandwazir

[2013-05-19 17:27] ArtificialTruth commented on #53
Was editing maximum ban time and I needed to restart the whole server
Oops didn't meant to close the ticket. Clicked the wrong button

[2013-05-20 22:45] MarioG1 opened #57 "Player who has executed the ban is not shown on the ban screen"
1.) Ban someone.
2.) Join with the banned account and check out the ban screen.

![Ban Screen](http://s16.postimg.org/qxbotce9h/Unbenannt.png)

There is a similar problem on the temp ban screen

![Ban Screen](http://s13.postimg.org/7oivwc6lj/Unbenannt.png)

[2013-05-21 20:32] ArtificialTruth opened #58 "Permissions problem"
I have these permissions:
    - banhammer.check
    - banhammer.history
    - banhammer.ban.*
    - banhammer.history.*
    - banhammer.kick
    - banhammer.pardon.*
    - banhammer.notify

I can't perm ban i the new version. Could in last version.

[2013-05-21 21:58] grandwazir commented on #58
This is by design. Please see this change log: http://grandwazir.github.io/BanHammer/versions/2.1.0.html

You need to give yourself `banhammer.ban`; `banhammer.ban.*` is no longer a valid node.

[2013-05-21 22:00] grandwazir commented on #57
This worked fine when I tested it; I took screenshots for the documentation.

I'll look into it.

[2013-05-22 07:40] ArtificialTruth commented on #58
Okay

[2013-05-22 07:40] #58 closed, assigned to nobody

[2013-05-22 07:40] ArtificialTruth opened #59 "[Request] Reload config command"
Was editing maximum ban time and I needed to restart the whole server
Didn't meant to close the last ticket.
Clicked the wrong button

[2013-05-22 16:42] #59 closed, assigned to nobody

[2013-05-22 17:43] MAXIMUSSPRIME opened #60 "Load up error:"
Hello, every time I run BanHammer I get this error:

22.05 10:38:39 [Server] SEVERE at net.minecraft.server.v1_5_R3.ThreadServerApplication.run(SourceFile:573)
22.05 10:38:39 [Server] SEVERE at net.minecraft.server.v1_5_R3.MinecraftServer.run(MinecraftServer.java:410)
22.05 10:38:39 [Server] SEVERE at net.minecraft.server.v1_5_R3.MinecraftServer.q(MinecraftServer.java:477)
22.05 10:38:39 [Server]

[2013-05-22 19:31] grandwazir commented on #60
Does removing Alias solve the problem?

[2013-05-22 20:16] MAXIMUSSPRIME commented on #60
Yes sir, no errors without Alias.

[2013-05-23 16:01] MarioG1 commented on #57
Can you confirm this problem on your own server??

[2013-05-23 23:31] MAXIMUSSPRIME commented on #60
I'd still like to use Alias though, I don't want it removed forever.

[2013-05-25 10:26] jaboy opened #61 "add permissions"
Hey

Could you add a permission to bypass the "immune-players" players from the config ?

Right now the bypass its a part of the permission called "banhammer", but i need to have a more specific permission so i can deny it

[2013-05-25 15:50] grandwazir commented on #61
That sounds like a sensible idea. How about if you have `banhammer.ban` instead?

This would make sense since giving someone a root permission of command should allow them to everything with the command.

Alternatively I could add `banhammer.ban.immune` and set it so you do not get that automatically when you assign `banhammer.ban`.

[2013-05-25 15:51] grandwazir commented on #60
I use Alias myself as well. I will look into it shortly.

[2013-05-27 05:39] jaboy commented on #61
it could also be banhammer.immune or banhammer.override, that way you can still give banhammer.\* in permissions

[2013-05-27 22:25] MAXIMUSSPRIME commented on #60
Still getting this error, any luck with it?

Error:
http://pastebin.com/XVjtFuYs

[2013-05-29 19:59] grandwazir commented on #60
I've identified the problem and will issue an update to Alias shortly.

[2013-05-29 21:56] grandwazir commented on #57
It works fine for me. Have you by any chance overridden the localisation file? Do you have a localisation.properties in your BanHammer folder?

[2013-05-30 06:24] MarioG1 commented on #57
I don't have a localisation.propertiesm file in my banhammer folder.

EDIT 1: I've created the file manually bu it is still not working. I also tried an fresh install on my test server with the same result no  localisation.properties is created and the banscreen displays the same things as above.

I haven't mentioned this before but the ban screen shows the correct info's on the first disconnect (

[2013-05-31 18:21] #61 closed, assigned to grandwazir

[2013-06-01 21:26] ArtificialTruth opened #62 "Error"
On startup:
http://pastebin.com/8gnbZuj8

[2013-06-02 02:18] grandwazir commented on #62
This should not happen on 2.2.5. Try that and see if it happens again.

[2013-06-02 08:41] MarioG1 opened #63 "Error on plugin enalbe"
Banhammer Version: 2.2.5
Bukkit: 1.5.2 R0.1

http://pastebin.com/gwywNER6

[2013-06-02 10:52] ArtificialTruth commented on #62
I used that version

[2013-06-02 17:54] grandwazir commented on #63
I'll need your database.yml (without password of cause) to see what the issue is. If it is blank I'll need the relevant bit from bukkit.yml.

[2013-06-02 17:54] grandwazir commented on #62
Are you sure since the log says "Plugin BanHammer v2.2.1 generated an exception while executing task 25"

[2013-06-02 17:55] ArtificialTruth commented on #62
Ooops i read your message wrong xD
Sorry for that

[2013-06-02 17:55] #62 closed, assigned to nobody

[2013-06-03 15:46] MarioG1 commented on #63
The problem only occurs if you use the default bukkit settings for an file based sql database if you change it to an mysql database the error is gone.

[2013-06-04 00:55] BenWoodworth opened #64 "Require ban reason"
Can you add a permission that requires players to have a ban reason when banning someone?

[2013-06-04 04:43] grandwazir commented on #64
At the moment every one requires a reason. Did you want it so it is optional for some?

[2013-06-08 02:08] CyanLights opened #65 "Could not pass PlayerLoginEvent to BanHammer 2.2.5"
Since updating the plugin, this happens every time someone joins:

http://pastebin.com/RRy9qdSj

We are experiencing a really weird bug where the user is able to send messages to the server, but they don't appear in their client chat for a good 30-45 seconds after they log in. I don't know if this is caused by BanHammer, AuthMe or another plugin, but I just wanted to throw that out there.

Thanks

[2013-06-10 19:48] MarioG1 opened #66 "Log pardoning with a reason"
It would be nice if you can also log if someone gets pardoned (with an reason) and display it in the ban history.

[2013-06-19 21:03] grandwazir commented on #57
Ah yeah. A lot of information is not available when the server is operating in offline mode at the times I want to use it. It should still display the message correctly though. I will look into this. Thanks for narrowing the bug down.

[2013-06-21 08:55] MarioG1 commented on #57
I finally found time to test 2.2.5.
The bug is already fixed in 2.2.5 thx.

[2013-06-24 06:44] MarioG1 opened #67 "Problem with ban/pardon permissions"
My mods have:

banhammer.ban.long
banhammer.pardon.own

but if i try to execute /ban name t:1d reason for example, i always get the message
"You are not allowed to do this".

You can only ban/paron people if you have

banhammer.ban
banhammer.pardon

Plugin versions:

Bukkit: 1.5.2 R 1.0
Banhammer: 2.2.6-20130621.234610-1
Permissions: PermissionsEX 1.19.6

Server log without banhammer debugging but

[2013-06-24 09:56] grandwazir commented on #67
I can confirm the issue with the pardon command. Didn't know about the other one.

I found the pardon bug myself this weekend. The problem is the permission that is actually checked is `banhammer.audit.others` instead of `banhammer.pardon.others`. It has already been fixed.

I'll look into the BanCommand playing up again as well.

[2013-06-26 23:06] MarioG1 opened #68 "BanHammer/Starterkit broken on Java 7u25"
Today I updated my server to Java 7 Update 25 and suddenly i get this error during startup:
Bukkit: 1.5.2 R 1.0
Banhammer: 2.2.5

http://pastebin.com/wkj7gz6Y

[2013-06-28 13:33] ArtificialTruth opened #69 "Dev version bug"
http://dev.bukkit.org/bukkit-plugins/banhammer/?comment=265

[2013-06-30 18:49] jaboy opened #70 "Players can join even after they are banned"
Hey

i have a problem ... players can join even though they are banned
the ban stand like this in the database

901 2013-06-19 23:12:04 Grief (Fire - Ashorts build - Survival)     0   820 2

but anyway the person is online ... doing a /bh check "playername" also shows that he is banned

There are no errors in console or anywhere else
the playername is sabercatfan97

restarting the server seems to

[2013-06-30 19:21] grandwazir commented on #70
What version of BanHammer are you using?

[2013-06-30 22:57] jaboy commented on #70
looking in the plugin.yml inside the plugin say version: 2.2.5

[2013-06-30 23:15] ArtificialTruth opened #71 "[Strongly want fix] Problems with fixed dev version"
Seems like banned players can't join now, but this happens
http://dev.bukkit.org/bukkit-plugins/banhammer/?comment=265

EDIT: /bh recent works the oppisite way so you see the first bans (Only thing i know is you dont see the recent bans not quiet sure)

This is the version:
http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.2.6-SNAPSHOT/

[2013-06-30 23:16] #69 closed, assigned to nobody

[2013-07-02 10:13] darrenstraight commented on #70
I've been having the same issues, has happened at least twice, yet a server restart normally fixes the issue, been trying to reproduce it myself but haven't been able to so far. Error message received in server log just before banned player logged in:

2013-06-22 21:19:22 [SEVERE] Could not pass event AsyncPlayerPreLoginEvent to BanHammer v2.2.5
org.bukkit.event.EventException
    at org.bukkit.pl

[2013-07-02 10:31] jaboy commented on #70
im not having the same error as darren (i dont have one)

but i noticed now, when i try to ban a player it tells me the player is already banned ... the problem is just that the ban expired "20 Aug 2012" .... and thats a really really old ban i made on him

[2013-07-02 18:56] jaboy commented on #70
i just notect that it is only temp ban that dont work as they should ... perm works just fine :/

[2013-07-02 21:37] jaboy commented on #70
now i got a error

org.apache.commons.lang.UnhandledException: Plugin BanHammer v2.2.1 generated an exception while executing task 16
    at org.bukkit.craftbukkit.v1_6_R1.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
    at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
    at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
    at java.lang.Thread.run(

[2013-07-02 21:52] jaboy commented on #70
okey this is fixed in version 2.2.6 :+1:

[2013-07-03 15:48] MarioG1 commented on #70
Where can i download 2.2.6??

[2013-07-03 18:16] jaboy commented on #70
quote from a comment grandwazir made on hes own plugin

I would like some testers to try out the new version before I release it properly. This is to avoid the problems we had last time. Everything should work. If you encounter any problems set debugging on by going to the config.yml and setting logging to "FINEST".

Please try it out at the following address. Do not run it on anything important t

[2013-07-04 13:31] ArtificialTruth opened #72 "Error for 1.6"
http://pastebin.com/mAyupwjY
This is the version:
http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.2.6-SNAPSHOT/

[2013-07-07 16:04] ArtificialTruth commented on #70
I can confirm for  2.2.5

[2013-07-13 18:41] jaboy opened #73 "Error in bh undo"
i got this error when i used bh undo to remove a 1 secound ban from a player (since it was one second it was already expired when i used it

[code]

[2013-07-13 18:48] jaboy opened #74 "Extended bh audit"
hey, i was thinking if it was possible to make a bh audit to show stats from all the bans ?

maybe name it to /bh stats to check all

[2013-07-13 18:54] jaboy opened #75 "Reload database command"
Hey im running ban hammer in mysql.

sometimes i have to go in and delete/edit a ban, but the problem is that it may take a long time before the change is visible in the servers, so i would request a command maybe called bh reload to reload all bans (and maybe also config)

can this be done ?

thanks :3

[2013-07-19 07:18] grandwazir commented on #73
Thanks for reporting this bug. It is targeted to be fixed in the next release.

[2013-07-19 07:19] grandwazir commented on #74
I'll add this to the new feature request list.

[2013-07-19 07:25] grandwazir commented on #75
This is due to the caching used by the plugin to speed up look up times. A better solution than a reload command which you will need to call every time would be an option to disable the cache completely. I'll see if that is possible in the next release.

[2013-07-19 07:30] grandwazir commented on #71
It would help me greatly if you only report one bug per issue as I do not get email notifications when someone edits a ticket. The issue with banned players being able to join is a problem with temporary bans being made with a version > 2.2.0 and < 2.2.6. See https://github.com/grandwazir/BanHammer/commit/db5ea342fcaf19fb22bfdaa8ce82342e33ab3cc1 for details. It should fix itself over time. For now

[2013-07-22 07:30] keremnc opened #76 "Plugin won't start."
Everytime I try to start up the server, the plugin gives an error: http://pastebin.com/ZAE13cTL
Only happens on some computers.

[2013-07-22 07:56] keremnc commented on #76
I'm getting this after updating:org.bukkit.plugin.InvalidPluginException: java.util.MissingResourceException: Can't find localisation.banhammer.BanHammer bundle

[2013-07-22 12:17] grandwazir commented on #76
Looking at the file name of the jar, you are not attempting to load two instances of BanHammer at once are you?

[2013-07-22 16:58] keremnc commented on #76
No, I am only loading one instance.

[2013-07-22 19:34] keremnc commented on #76
Sorry my plugin developer was incorrectly using the API.

[2013-07-22 19:35] #76 closed, assigned to nobody

[2013-07-28 13:40] jaboy opened #77 "Error in messages for kick and pardon"
Hello

I have made so everyone can see when i kick / ban from the server
But whenever i kick someone off the the server, instead of everyone getting the message that the player has been kicked, the kicker gets all the messages
(see screen shot) and the rest cant see he get kicked
![2013-07-28_15 20 29](https://f.cloud.github.com/assets/916338/868274/d2055102-f78a-11e2-9a70-18ee5851c216.png)

when

[2013-08-05 23:12] ProjectInfinity opened #78 "Suggestion: Add silent parameter to kick & ban commands"
Could you implement a silent parameter so it doesn't broadcast an action when you'd like it to be quiet? I.e. /ban Notch -s t:2d Reasoning.

Many plugins do this already, like CommandBook does not announce certain commands if "-s" is applied to the command. This would be nice because there may be a time when you do not wish every player to see a ban or kick message.

[2013-08-10 22:39] maroselis commented on #70
Also can confirm for 2.2.5

[2013-08-13 15:55] deanveloper opened #79 "Reason suffix"
I would like to make it so that whenever I ban someone, I can add a suffix to the ban. Sometimes chat doesn't add enough space for me to type "appeal: <appeal link>"

If you could add a suffix for reasons in the config, that would be great!

[2013-08-13 17:25] grandwazir commented on #79
You can customize all the messages already by changing the localisation files within the plugin. See this page for more information: https://github.com/grandwazir/BukkitUtilities/wiki/Localisation

[2013-08-14 02:12] deanveloper commented on #79
Thanks for the info!

[2013-08-14 08:08] lorenzreweghs opened #80 "Error with bh import"
I tried to do /bh import (with here of course a reason) but this error appeared:
http://pastebin.com/UtxmMGje
Because of this, I can't use your plugin.

Greetz,
Crossfire

[2013-08-14 22:49] deanveloper opened #81 "Suggestion: When a player is banned, put them into a group"
I just thought of something. I really wanted to make it so that if a player was banned, it would say so on my website. I can only get this to work if I put them into a group. If you would be kind enough to add this as a feature, that would be awesome!

[2013-08-15 10:34] grandwazir commented on #81
BanHammer does not support this directly however you could write a plugin that listens to the BanHammer events to do this for you. Every time a player is banned it sends an event called 'BanHammerPlayerBannedEvent'. Your plugin would need to listen to this event and then place the player that was banned in the right permission group.

To do the reverse just listen to 'BanHammerPlayerPardonedEvent'

[2013-08-15 10:36] grandwazir commented on #80
Please try the same with the latest development snapshot available [here](http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.3.0-SNAPSHOT/) and see if the problem persists.

[2013-08-15 10:37] #79 closed, assigned to nobody

[2013-08-15 10:38] grandwazir commented on #81
I am going to close this issue now since this due to the number of permission plugins out there it is not something I will be adding as standard.

[2013-08-15 10:38] #81 closed, assigned to nobody

[2013-08-15 10:41] grandwazir commented on #77
I think both bugs are now fixed in the latest development version. Please try it [here](http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.3.0-SNAPSHOT/). Bear in mind it is a beta so always backup your database first.

I am going to close this issue as I think it is resolved. Please reopen it if you get the same bug on the development version.

[2013-08-15 10:41] #77 closed, assigned to grandwazir

[2013-08-15 10:43] grandwazir commented on #78
This is something I am looking to support although it will require a slight refactoring of BukkitUtilities to support it. The underlying support for silent bans is already there just not used by BanHammer at the moment.

[2013-08-15 10:44] grandwazir commented on #73
Please test and see if this bug is now fixed using the development version of BanHammer available [here](http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.3.0-SNAPSHOT/).

[2013-08-15 10:46] grandwazir commented on #72
I believe this is now fixed in the latest version and so I will now close this issue. Please try the latest development version of BanHammer (available [here](http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.3.0-SNAPSHOT/)) and see if that fixes it. If it happens again reopen this issue and I can look at it further.

[2013-08-15 10:46] #72 closed, assigned to grandwazir

[2013-08-15 10:49] grandwazir commented on #70
This has been confirmed as fixed by one other person in the new development version of BanHammer available [here](http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.3.0-SNAPSHOT/).

If for whatever reason it occurs again, put the plugin into debug mode (by setting logging to ALL) and give me any relevant information. If you banned anyone when running 2.2.2

[2013-08-15 10:49] #70 closed, assigned to grandwazir

[2013-08-15 12:54] lorenzreweghs commented on #80
Now, this error appeared:
http://pastebin.com/s9rApmYe
My server even crashed too.

[2013-08-15 13:18] ArtificialTruth opened #82 "Errors for 1.6.2"
http://pastebin.com/pqD2w21i
http://pastebin.com/fPEx7xcR

Using:
http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.3.0-SNAPSHOT/

[2013-08-15 13:45] grandwazir commented on #82
I think this is a database issue. Could you please turn debugging on. You can do this by going to config.yml and setting LOGGING to ALL. It is a bit noisy but if you can keep it on until it happens again then send me the log it would be helpful.

[2013-08-15 13:47] grandwazir commented on #80
This appeared to happen because the plugin attempted to create the cache at the same time you were adding records to the database. Wait about 1 minute after the server has started, then try using the command.

Additionally please turn on debugging by changing the LOGGING value in config.yml to ALL. This will help me debug your issue.

[2013-08-15 14:36] ArtificialTruth opened #83 "Permissions problem"
Some users reporting about they can't temp ban anymore. The person tried to ban a player for 1 day
Permissions the mod have:
    - banhammer.check
    - banhammer.ban.warning
    - coloredTexts.group.red
    - banhammer.history.*
    - banhammer.kick
    - banhammer.pardon.*
    - banhammer.notify
Some errors in the console:
http://pastebin.com/JcbBrFg5

No errors when he tried to ban the guy thou

[2013-08-15 14:45] ArtificialTruth opened #84 "Banned players can still join"
This error comes right before a temp banned player joins:
http://pastebin.com/ZcXHzBAu

[2013-08-15 14:46] ArtificialTruth commented on #82
Note this don't happen all the time. I can't, since i need to stop my server with 80+ online. You need to add a /bh reload command for the config

[2013-08-15 14:46] ArtificialTruth opened #85 "Add a /bh reload"
For the config.yml

[2013-08-15 16:33] grandwazir commented on #84
Could you turn on debugging please and post the log.

[2013-08-15 16:48] grandwazir commented on #82
When you next restart your server you will need to turn debugging on if I am to resolve this issue. Either that or send me a copy of your database.

[2013-08-15 16:52] grandwazir commented on #83
The exception looks like a database issue. Could you send me a copy of your database please. As for the other issue, check your config.yml, I think I renamed ban-limits to limits. just renamed your old ban-limits to limits to fix the issue.

[2013-08-15 19:55] ArtificialTruth commented on #82
https://dl.dropboxusercontent.com/u/38640291/BanHammer.db

[2013-08-15 19:56] ArtificialTruth commented on #83
https://dl.dropboxusercontent.com/u/38640291/BanHammer.db

[2013-08-15 19:57] ArtificialTruth commented on #84
K ill try to remember it

[2013-08-15 20:28] grandwazir commented on #84
I need the name of the player at least to debug this further.

[2013-08-15 20:33] grandwazir commented on #82
I am struggling to debug this further. Looking through the database you attached williamalder has never been banned. I don't think he is the one triggering the error. I'll need the details of what happens when someone logs in with debug mode on, or the name of a person who consistently causes this issue.

[2013-08-16 19:43] Nistune opened #86 "Banned players joining"
Using Spigot build 1080 for 1.6.2, decided to try the snapshot on a new testserver, so its a clean install of everything.

Kicks work good, all of the commands appear to work until you ban someone and the banned person joins. Process to get this was:

/ban Kaval test

Seems to work, her name shows up in /bh check Kaval as perm banned. But, user joins:

http://pastebin.com/mUPkYnfw

After the banne

[2013-08-16 22:06] grandwazir commented on #86
I use Spigot myself so I have a vested interest it making sure it works on that platform. I can't see the full stack trace from the log you gave me which is missing, crucially, the line that caused the error.

I have found one bug from doing a quick review of that code. If you server is operating in online mode it would check to see if someone was banned twice. That might cause some issue in the f

[2013-08-16 23:23] grandwazir commented on #86
I can't duplicate it on my development machine, however after doing some research I have found out what the bug is. It is an old bug in the persistence library shipped with Bukkit but unfortunately Bukkit still ships the old version. I've [asked them](https://bukkit.atlassian.net/browse/BUKKIT-4709) to update.

 I think my latest patch will work around this but since I can't get the problem to occ

[2013-08-16 23:25] grandwazir commented on #84
I know what this is now and I am going to close this issue so I can track things all in the same thread. See #86 for more details.

[2013-08-16 23:25] #84 closed, assigned to grandwazir

[2013-08-16 23:27] grandwazir commented on #82
I have now found out what is causing this. Please see #86 for more details. I am closing this issue so I can keep everything related to it in the same thread.

[2013-08-16 23:27] #82 closed, assigned to grandwazir

[2013-08-16 23:28] grandwazir commented on #83
The permission issue I assume you solved. The other bug is the same as #86. I am closing all other issues related to it, except #86 to make it easier for me.

[2013-08-16 23:28] #83 closed, assigned to nobody

[2013-08-16 23:30] grandwazir commented on #75
For your information, making any changes to the database within the game will invalidate the cache.

[2013-08-17 00:09] Nistune commented on #86
Downloaded the snapshot, banned user can still join/getting errors:

http://pastebin.com/E5QqiSE1

Decided to remove everything but banhammer/spigot:

http://pastebin.com/3pe1fWvK

http://pastebin.com/ewH9QY97

Switched back to version 2.2.0 just to make sure its not something else and its leaving people banned:

http://pastebin.com/S3Xhkivq

Hope this helps :)

[2013-08-17 07:40] jaboy commented on #75
yea, i know that, and thats the problem :P

[2013-08-17 07:42] jaboy commented on #73
testing it now

[2013-08-17 09:09] grandwazir commented on #86
Please try this [build](http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.3.0-SNAPSHOT/ban-hammer-2.3.0-20130817.090722-3.jar) and see if that fixes the problem. I have decided to disable the caching system until the library is updated in Bukkit.

[2013-08-17 14:53] Nistune commented on #86
Players are staying banned now, not seeing any error messages.

http://pastebin.com/tQ2xgpvu

Had to ban myself through console since my test subject is away. But tested banning/pardoning someone else from on the server:

http://pastebin.com/bV1zjt80

Im not getting any error messages, an odd thing was when I pardoned Kaval it said she had been pardoned twice.

The only bug I am getting is when I

[2013-08-22 22:33] grandwazir commented on #75
This is getting pushed back until 2.4.0.

[2013-08-22 22:34] grandwazir commented on #78
I've also added add a feature to allow pardons to be silent as well.

[2013-08-22 22:34] grandwazir commented on #73
I am assuming this is fixed in the latest version. Let me know by reopening this issue if you have any more problems.

[2013-08-22 22:34] #73 closed, assigned to grandwazir

[2013-08-22 22:38] grandwazir commented on #86
I am going to assume this is fixed now. Thank you for testing.

[2013-08-22 22:38] #86 closed, assigned to grandwazir

[2013-08-22 23:26] ProjectInfinity commented on #78
Great!

[2013-08-23 18:10] #71 closed, assigned to grandwazir

[2013-08-23 18:10] #78 closed, assigned to grandwazir

[2013-08-26 20:37] captbunzo opened #87 "java.util.MissingResourceException: Can't find localisation/BanHammer bundle"
I am having the same problem that soysuva is experiencing.

http://pastebin.com/DbPm24i0

I am experiencing a very similar problem with your Alias plugin.

I am running Ubuntu 13.04 with Java version as follows:

nyvaria@ziggy:~/server-test/logs$ java -version
java version "1.7.0_25"
Java(TM) SE Runtime Environment (build 1.7.0_25-b15)
Java HotSpot(TM) 64-Bit Server VM (build 23.25-b01, mixed mode

[2013-08-26 21:23] grandwazir commented on #87
I'll see if I can duplicate the issue here.

[2013-08-26 22:22] grandwazir commented on #87
I've confirmed this issue using both CraftBukkit and Spigot on Windows. Will see if I can duplicate it on my linux machine.

[2013-08-27 09:29] NewBestX commented on #87
I have the same error using craftbukkit on windows or linux...
This plugin is very important to my server, so I hope you can find a solution very soon...

[2013-08-27 12:07] grandwazir commented on #87
Doesn't crash on my development machine which is running the same version of Java.

[2013-08-27 12:24] grandwazir commented on #87
This appears to be a classloader issue. This should not happen since I already test for if the resourcebundle exists before loading to avoid exactly this kind of issue. What I think is happening is while the bundle is available to the class loader testing the resource exists, the actual logger uses a different classloader.

[2013-08-27 18:47] grandwazir commented on #87
Please try the following [build](http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.3.1-SNAPSHOT/ban-hammer-2.3.1-20130827.184502-1-shaded.jar) and tell me if it fixes the issue for you..

[2013-08-27 19:33] captbunzo commented on #87
Thanks for your time on this today. I've just tried the build and it has fixed the issue. I did get the following message:

21:30:38 [INFO] [BanHammer] Enabling BanHammer v2.3.1-SNAPSHOT
21:30:38 [WARNING] [BanHammer] saving-default-configuration
21:30:38 [WARNING] [BanHammer] invalid-configuration-value
21:30:38 [WARNING] [BanHammer] invalid-configuration-value

But it loaded fine. Of course, I a

[2013-08-27 22:03] grandwazir commented on #87
Yes it will. They both share a common library but having already descended into classpath madness and survived each plugin I ship now has it's own shaded instance to avoid any issues.

I've fixed this bug and those untranslated messages in 2.3.1 which is available to download from the repository.

I've also released an updated version of Alias with the same fix.

[2013-08-27 22:03] #87 closed, assigned to grandwazir

[2013-08-27 22:57] grandwazir commented on #87
Actually hold out on Alias. There is still a nasty bug in it I need to squash.

[2013-08-29 17:38] ProjectInfinity opened #88 "Suggestion: Add alias for pardoning."
I suggest adding the alias "unban" to the pardon command that BanHammer utilizes.

Add to plugin.yml under pardon command:
aliases: [unban]

[2013-09-18 00:08] coltensplat opened #89 "Two problems."
I am using version 2.3.1
There are 2 problems I have run into.
1.) When I try to purge someone's bans, I receive an internal error message.
2.) When I use /bh audit, I receive the same internal error. I tried a complete reinstall of the plugin (ie directories and jar files) and nothing works. I haven't tried an earlier version but I will soon.
Thank you in advance,
Coltensplat

[2013-09-18 00:23] coltensplat commented on #89
Update: now this is happening with every command. Can't seem to fix it myself

[2013-09-18 17:20] grandwazir commented on #89
You need to look inside your server.log. It will give you information I need to help you fix whatever problem has occurred.

[2013-09-20 12:22] #85 closed, assigned to nobody

[2013-09-20 12:22] ArtificialTruth commented on #85
https://github.com/grandwazir/BanHammer/issues/53

[2013-09-21 23:50] coltensplat commented on #89
Sorry I couldn't respond. The problem has been resolved, I figured it was a broken file I had forgotten to delete. Thanks for responding though.
-coltensplat

[2013-09-29 14:55] ayyy opened #90 "Umlauts and other special characters removed from kick & ban reason"
Hey.

If you enter special characters(tried: ,.-+¨'), umlauts (äåö), as a ban or kick reason, those characters are removed from the reason.

And a message from my fellow admins: You have 10 minutes to fix this issue or we're switching to a competing plugin.

[2013-09-29 15:39] grandwazir commented on #90
Incredible. Who exactly do your fellow administrators think they are to make demands from me and issue ultimatums. It shows an extraordinary amount of ignorance of their part of how open source software works.

If you issue an apology for your inappropriate and rude behaviour I may consider looking at this issue for you. Otherwise the source is available, fix it yourself.

[2013-09-29 15:45] ayyy commented on #90
Oh, that was supposed to be taken as a joke. Sorry. :S

[2013-09-29 15:47] grandwazir commented on #90
Apology accepted. I will look at this when time allows. Are you using MySQL or SQLite?

[2013-09-29 15:49] grandwazir commented on #90
OK. When I get time I will see if I can duplicate the issue.

[2013-09-29 15:51] ayyy commented on #90
Awesome, thanks. Aaand, I accidently deleted my comment. God this day isn't going well.

[2013-11-06 16:22] ArtificialTruth opened #91 "Ban limits are broken."
A guy in the group Mods can perm ban by typing /ban test testreason
Even though he have these perms:
    - banhammer.check
    - banhammer.ban.warning
    - banhammer.history.*
    - banhammer.kick
    - banhammer.pardon.*
    - banhammer.notify

Config:
  warning: 1d
  short: 2d
  medium: 3d
  long: 8d

[2013-11-30 12:17] grandwazir commented on #91
I keep fixing this, it is starting to get annoying. I'll look into why this is happening this weekend.

[2013-11-30 12:56] ArtificialTruth commented on #91
Thanks! :smile:

[2013-11-30 14:55] #91 closed, assigned to nobody

[2013-12-16 00:56] SgtCommanderDK opened #92 "Can't ban or kick :("
Everytime I type /ban test test or /ban test test 5
this happens http://gyazo.com/74a9ab814d710286230ddd38876963cc
same with kicks.

Pleas help this never happened before and I love your plugin I urgently need it to work :(

[2013-12-16 00:58] SgtCommanderDK opened #93 "Can't ban or kick :("
Everytime I try to ban or kick someone this happens:
http://gyazo.com/74a9ab814d710286230ddd38876963cc
PLEASE FIX I URGENTLY NEED YOUR PLUGIN :(

[2013-12-16 01:00] SgtCommanderDK opened #94 "Can't ban or kick :("
This keeps happening http://gyazo.com/74a9ab814d710286230ddd38876963cc

[2013-12-16 07:54] Mr-Rixa commented on #92
Please note that This plugin probably does not work at 1.7.2 server since It's not designed for that and quite a bit of code changed from 1.6.2/1.6.4.

I'm only assuming since **you didn't**:

A. Post any **information of your server version** or plugin version (console /ver and post outputs)
B. Any error reports from console regarding to this plugin

Also good thing to note is that posting your t

[2013-12-16 09:00] grandwazir commented on #92
I am going to respond to this issue here rather than in your other two tickets @SgtCommanderDK. In future please only make one. You need to check your server.log as it will have more information. It looks like the plugin is having difficulty loading if you are getting a white help message. I might change these in future so it is obvious there is a problem.

@Mr-Rixa The plugin is built against the

[2013-12-16 09:01] #93 closed, assigned to nobody

[2013-12-16 09:01] #94 closed, assigned to nobody

[2013-12-16 09:02] grandwazir commented on #90
I am pretty sure this is down to the default character setting for your database table. Check what setting it is for you and change it to UTF-8 if you want to use these characters.

[2013-12-16 09:04] Mr-Rixa commented on #92
@grandwazir oh... well then time to look up my server.log also, since /bh [any command here] just prints out the help message. Now I'm a bit smarter again :smile:

Edit: directly from console http://pastebin.com/zx11VpgD, I'll pop the server.log open in a bit
ver: CraftBukkit version git-Spigot-1191 (MC: 1.7.2) (Implementing API version 1.7.2-R0.1-SNAPSHOT)

Edit 2: apparently that's all it shows

[2013-12-16 09:55] Mr-Rixa commented on #90
@grandwazir, "collation: utf8_general_ci" https://db.tt/x8MyFaVH Diaeresis letters (Ä,Ö,Å), commas, dots, etc not showing on reasons, they did before.

Actually I checked, BH doesn't save these even on MySQL anymore, but it did before. I can browse through the bans and try to find where it broke, but I'm not promising anything.

Oh yeah, [INFO] BanHammer (2.3.1)

[code]

ban reason translated is "

[2013-12-23 05:53] remiscarlet commented on #90
Tested with both MySQL and without, I would assume the banhammer.db is properly set up with encodings but MySQL is definitely set to UTF-8 and symbols still fail to show up in ban/kick reasons. Anything I can do to provide more information on the issue?

edit: After a friend of mine looked through the code, he mentioned this.

[code]

He had to go for the night so I can't get anything else but per

[2013-12-26 01:14] grandwazir commented on #90
The argument matcher might be what is striping it out. Thanks for digging this out. I will look at it closer tomorrow.

[2013-12-26 03:01] remiscarlet commented on #90
Np! Thanks again for your work!

[2014-01-06 05:11] msm595 commented on #90
Bump

[2014-01-07 01:05] davidlohle commented on #90
Definitely, bump. Our ban messages looked like butchered English as a result. A fix would be GREATLY appreciated.

There aren't many different features between the current version of BH and version 1.9. With some simple MySQL commands, you can revert back to the old schema and just use the old BanHammer and get the unchanged ban messages. It's a pretty easy task if it's something that really matte

[2014-01-11 02:06] grandwazir commented on #90
This has been fixed upstream in BukkitUtilities. When I next release BanHammer it will have this appropriate fix.

@Proplex 1.9 is also around 2 years old and I wouldn't recommend (and definitely don't support) altering the database schema manually. If you choose to do that and you break it, you get to keep both pieces.

[2014-01-11 06:57] davidlohle commented on #90
@grandwazir We reverted back to 1.9 and it's been smooth sailing since. We had used 1.9 this entire time but only recently had we upgraded. I reverted from a backup dump I made prior to and then it was just a matter of re-banning the few players we missed in the interim. I'll update once everything is fixed. As an English teacher, I go crazy as a result of the broken grammar.

[2014-01-11 08:39] #68 closed, assigned to nobody

[2014-01-11 08:40] #57 closed, assigned to nobody

[2014-01-11 08:40] #63 closed, assigned to grandwazir

[2014-01-11 08:49] MarioG1 opened #95 "Time on the ban screen is always in the the system language"
![image](https://f.cloud.github.com/assets/1714042/1893524/0a6518e4-7a9d-11e3-9474-e4e5999ce75f.png)

Is it possible to change the language of the "in 24 Stunden" to English or is banhammer always using the system language for this?

[2014-01-11 18:03] grandwazir commented on #95
It currently uses the default locale provided by the JVM. If you are on a German server it is most likely going to be German. You can force a different locale when you run Bukkit initially.

See http://stackoverflow.com/questions/64038/setting-java-locale-settings for more information.

[2014-01-12 14:15] MarioG1 commented on #95
Thx. I'll try it out :)

[2014-01-20 13:59] captbunzo commented on #87
Any news on when this fix may come to Alias?

[2014-01-22 17:38] grandwazir commented on #92
Is this still happening for you? If it is I need the output of the server log.

[2014-01-24 17:32] ayyy commented on #92
It does for us. We had the IndexOutOfBounds exception, I compiled it against the latest BukkitUtilities: that sorted that out, but now when we use it on our main server, it simply says "Error occurred while enabling BanHammer v2.3.2-SNAPSHOT (Is it up to date?)" My friend tried on his machine, pretty much identical settings & no other plugins: he gets the error. Server is on Debian, others on Wind

[2014-01-31 13:22] NewBestX opened #96 "Startup error"
http://pastebin.com/QA4Dwunh

Using banhammer 2.3.1 and craftbukkit Beta 1.7.2 R 0.2

[2014-01-31 13:45] NewBestX commented on #96
I downloaded bukkit build 2999 and seems to work fine now :D

[2014-01-31 13:45] #96 closed, assigned to nobody

[2014-01-31 19:32] grandwazir commented on #96
I am glad it is working now. It looks like it was a network issue when the updater was trying to retrieve details about any new versions.

[2014-01-31 19:33] grandwazir commented on #95
I'll assume this is fixed now.

[2014-01-31 19:33] #95 closed, assigned to nobody

[2014-01-31 19:34] #89 closed, assigned to nobody

[2014-01-31 19:36] grandwazir commented on #60
Since this is a bug with Alias I am going to close this issue.

[2014-01-31 19:36] #60 closed, assigned to nobody

[2014-01-31 19:37] grandwazir commented on #64
Closing due to inactivity.

[2014-01-31 19:37] #64 closed, assigned to nobody

[2014-01-31 19:38] grandwazir commented on #65
Sorry I didn't reply to this. Let me know if this happens with the latest version of BanHammer. If it does, feel free to reopen this ticket.

[2014-01-31 19:38] #65 closed, assigned to nobody

[2014-01-31 19:40] grandwazir commented on #88
I try to limit doing this as much as possible since it tends to conflict with other plugins. Can you not make the alias yourself in bukkit.yml nowadays?

[2014-01-31 19:41] grandwazir commented on #80
Caching has been disabled now due to a long standing bug in the out of date library that bukkit ships. As such this is no longer an issue.

[2014-01-31 19:41] #80 closed, assigned to grandwazir

[2014-01-31 19:43] ProjectInfinity commented on #88
I don't use this plugin anymore, but for the sake of those who are. I highly recommend doing this, simply because ALIASES are nothing more than aliases. If another plugin wants the command, it will overwrite the alias.
Besides, why should you accommodate for server owners who are dumb enough to run several plugins offering the same feature?

[2014-01-31 19:46] grandwazir commented on #88
Well in that case I'll add it on to the improvement list.

[2014-03-08 17:25] ArtificialTruth opened #97 "Ban limits are broken."
The permission group mods can perm ban even though they only have those perms:

[code]

My config:

[code]

Probably related to this: https://github.com/grandwazir/BanHammer/issues/91
Using v. 2.3.1

[2014-03-09 14:43] grandwazir commented on #97
This should be fixed in the development build I just uploaded to DevBukkit. Please try it and tell me if it fixes the issue for you.

[2014-03-09 14:50] ArtificialTruth commented on #97
Alright gonna download it now and upload it to my server. If i put this jar in and don't delete the old one, will it load the newest version?

[2014-03-12 16:57] ArtificialTruth commented on #97
Alright i tested the version, now they can't ban at all.

[2014-03-16 10:13] ayyy commented on #92
Finally. I found why it's doing this. Banhammer conflicts with this: http://dev.bukkit.org/bukkit-plugins/xray-informer/

and breaks on this line (~160):
Thread.currentThread().setContextClassLoader(currentClassLoader);

at AbstractDatabaseLoader.

Trashed the XrayInformer and works fine! :)

[2014-03-16 12:43] MarioG1 commented on #97
I have a similar/same problem.

If you use /ban name t:5d reason the player is banned permanent. This is also the reason why players with  banhammer.ban.<limit> can't ban at all.

[2014-03-19 06:57] remiscarlet opened #98 "Temp bans don't work. Period."
I feel that this is related to the already documented issue of temporary ban permissions not working, but this seems different because any temporary bans are now entirely broken. Eg,

/ban remi_scarlet t:3d test

Will ban permanently, even from ops and from console itself, implying that it's definitely not a permission issue. There aren't any logs or errors so perhaps there's an error in parsing t

[2014-03-20 20:49] grandwazir commented on #92
I am glad this now works for you. I'll close this ticket.

[2014-03-20 20:49] #92 closed, assigned to nobody

[2014-03-20 20:49] grandwazir commented on #98
What version are you using?

[2014-03-21 04:59] remiscarlet commented on #98
Latest one available on Bukkit, 2.3.2-SNAPSHOT.

[2014-03-21 11:57] ayyy commented on #98
BukkitUtils had changed the way stuff works, apparently. Took me a while to figure it out as none of this is documentated.

You have to do:
/ban remi_scarlet **-t** t:3d test

[2014-03-21 19:08] grandwazir commented on #98
You should not have to do that - it is a bug in BukkitUtils. I'll look at
it this weekend.
On 21 Mar 2014 11:57, "roni" notifications@github.com wrote:

[2014-03-29 23:25] PiLoT- opened #99 "cant use partial names to kick or ban"
if player w0rld-smith needs a kick or ban you have to type out full name or tab to complete it.

it used to match to whoever online whose name is closest

for instance if i was to type /kick w0 it would kick a player with that at start of his name

[2014-04-11 00:29] remiscarlet commented on #98
Hi!

Was wondering if you've had a chance to check out the reasons for tempbans not working.

[2014-04-17 13:09] grandwazir commented on #98
I am looking at it today and hoping to have a build out this evening.

[2014-04-17 13:19] grandwazir commented on #98
Your example command is now working correctly in the latest build. I have set it now so you have to put a "-" in front of argument options. This will mean that no longer will they be treated as part of the ban reason if you put them at the end.

[2014-04-17 13:19] #98 closed, assigned to nobody

[2014-04-17 13:21] grandwazir commented on #99
This was a deliberate change now you can tab complete and should not be much of an inconvenience. I think it is better that your intent is completely clear when issuing a command to kick or ban by asking for the full name.

[2014-04-17 13:21] #99 closed, assigned to grandwazir

[2014-04-17 13:25] grandwazir commented on #90
This is now fixed in the latest snapshot that was shipped a couple of weeks ago. There should be no more problems with butchered characters, let me know if you find any.

[2014-04-17 13:25] #90 closed, assigned to grandwazir

[2014-04-17 13:28] grandwazir commented on #75
Caching has been disabled for a while now due to another show stopping bug so this should no longer be an issue. Let me know if it still is.

[2014-04-17 13:28] #75 closed, assigned to grandwazir

[2014-04-17 13:31] grandwazir opened #100 "Add support for banning players by UUID"
With the recent changes Mojang is making to Minecraft it will be necessary to restructure the database to store UUIDs rather than player names.

[2014-04-17 17:06] grandwazir commented on #44
This has the most chance of happening when I update the schema to support the new UUIDs.

[2014-04-17 19:12] grandwazir commented on #67
This is confirmed as fixed in the latest build.

[2014-04-17 19:12] #67 closed, assigned to nobody

[2014-04-17 19:14] grandwazir commented on #97
@MarioG1 Your issue is a syntax problem. It is assuming that the reason is what comes after the player's name. To fix this just put the time before the name. In the new version this is fixed.

@TheOnlyRealTGS I have tested this on the new build and it works correctly so I will close this issue now.

[2014-04-17 19:14] #97 closed, assigned to nobody

[2014-04-17 19:23] ArtificialTruth commented on #97
Okay, i'll test it!

[2014-04-17 20:49] grandwazir commented on #97
You can test this build for me if you like? It is at: http://repository.james.richardson.name/snapshots/name/richardson/james/bukkit/ban-hammer/2.3.2-SNAPSHOT/ban-hammer-2.3.2-20140417.204406-2-shaded.jar

[2014-04-18 01:39] PiLoT- commented on #99
is it possiblt to re insert that possibilty, diable is by defaut but make it an option?

[2014-04-23 13:46] ArtificialTruth commented on #97
Okay, that version is seriously broken. EVERYBODY can kick!

[2014-04-26 15:32] #74 closed, assigned to grandwazir

[2014-04-26 15:32] #88 closed, assigned to grandwazir

[2014-05-02 06:33] rustyshakelford2 opened #101 "BanHammer can't find the path to the database"
After updating to 1.7.9 when banhammer goes to load the database it gives an error and the file path is missing backslashes. This happens whether the file is present or not.

[02:25:10] [Server thread/INFO]: [BanHammer] Enabling BanHammer v2.4.0
[02:25:10] [Server thread/WARN]: [BanHammer] Saving default configuration to config.yml
[02:25:10] [Server thread/WARN]: [BanHammer] Saving default config

[2014-05-05 12:50] SnowBlitzz opened #102 "Server crashing when banning/pardoning"
Hey its snowblitzz and you probably already know my problem from the comments section. http://pastebin.com/NrD70gqi
I am using mcpc, this version http://ci.md-5.net/job/MCPC-Plus-164/251/
BanHammer worked perfectly fine when I was using thr 2.3.1 version, UNTIL I updated it to 2.4.0, which then made every ban lag the server and most of the time, crash it. Even after I downgraded the version back t

[2014-05-05 15:36] grandwazir commented on #102
Thanks for reporting this issue. The fact that it a previous known good version is also having issues makes me think this may not be a bug in BanHammer itself. There were not database schema changes between 2.3.1 and 2.4.0 so that will also not be the issue. What it might be is a database connectivity issue. Does this only happen when banning players or do you also get delays when checking for ban

[2014-05-05 15:38] grandwazir commented on #101
Thanks for reporting this issue. Would you mind doing a quick test with the last Bukkit recommended build and tell me if the problem persists? I just want to check this is not a Spigot specific issue before continuing. Also version 1.7.9 is quite old. Are you sure you are using that one and not the latest one?

[2014-05-05 17:56] rustyshakelford2 commented on #101
I meant spigot for minecraft 1.7.9, my bad. I'm using banhammer 2.4.0. I tried with the latest bukkit dev build and got the same error, so I don't think it's a spigot issue. I started the server with all other plugins removed and got the same error. I have another server on the same machine running MCPC-Plus and minecraft 1.7.2, and banhammer works great there. Here is the error from bukkit:

13:5

[2014-05-06 01:00] SnowBlitzz commented on #102
Checking for bans, auditing, ban recent, all that has no delay. Only happens when I ban, kick or pardon. Just these 3. How do I fix this? I also tried removing the database and restarted server so it would create a new one and see if it fixes, but nope :/

[2014-05-07 14:34] ArtificialTruth commented on #66
Good idea!

[2014-05-07 14:35] ArtificialTruth opened #103 "[Suggestion] Add a comment command"
Syntax: /bh comment <player> <comment>
Would be really useful!

[2014-05-07 16:50] grandwazir commented on #102
Hmm; thanks that is helpful information. Have you tried with no other plugins other than BanHammer?

[2014-05-07 16:51] grandwazir commented on #103
I really like this idea. It makes everything more flexible. You could add comments to players or to bans  to give more information to administrators. When you pardon someone a comment would just be added to the ban, same for when you create it initially.

[2014-05-07 16:54] ArtificialTruth commented on #103
Yea, it would be really useful :)

[2014-05-08 15:04] SnowBlitzz commented on #102
Yes, I tested that too. I don't understand why because it was working PERFECTLY fine, as in really perfectly before I updated to 2.4.0. Even after downgrading it back to 2.3.2 the problem still occurs. That's what gets me

[2014-05-10 09:36] anonsvs commented on #101
I have the same problem with Craftbukkit 1.7.9 and I using banhammer version: 2.4.0
I am anon_yt of bukkit plugin page
Error:
[11:35:34 INFO]: [BanHammer] Enabling BanHammer v2.4.0
[11:35:36 ERROR]: Error occurred while enabling BanHammer v2.4.0 (Is it up to date?)
com.avaje.ebeaninternal.server.lib.sql.DataSourceException: java.sql.SQLException: out of memory
    at com.avaje.ebeaninternal.server

[2014-05-10 15:54] rustyshakelford2 commented on #101
com.avaje.ebeaninternal.server.lib.sql.DataSourceException: java.sql.SQLException: out of memory
I'm pretty sure you're running out of ram.

[2014-05-10 17:39] anonsvs commented on #101
mmmm i only using this plugin how i can out of ram?

[2014-05-11 11:32] Yrlish commented on #100
How is it going with this part?

[2014-05-11 11:43] grandwazir commented on #100
It is pretty much finished and working in the experimental branch. I am just adding some other features as well before I release it and working out a way to migrate all old bans to the new system.

[2014-05-11 11:44] Yrlish commented on #100
Great! :+1:

[2014-05-15 12:27] SnowBlitzz commented on #102
Any answer please? Sorry if I'm being annoying but this is the best ban plugin out there and nothing can replace it!! I'm really serious.

[2014-05-22 00:18] grandwazir commented on #102
Sorry for the slow replies. I have been busy. I am not entirely sure what is going on here at all. Can you zip up a copy of a server that you have that replicates this issue and send it to me so I can attach a debugger?

Also can you tell me what database you are using and how you have it setup. For example is it a local database or on a different server?

[2014-05-22 10:00] SnowBlitzz commented on #102
Im not sure how to do that, the zipping part and stuff. Besides, the file is gonna be too big :/

I'm using the local database

[2014-05-22 10:02] SnowBlitzz commented on #102
Currently, ban hammer is removed from my server and im just using essential bans. Wondering if 2.4.0 works with 1.6.4 because when I tried it, all these happened.

[2014-05-22 19:27] grandwazir commented on #102
Should do. Give it a try and see if that fixes the issue.

[2014-05-23 20:55] rustyshakelford2 commented on #101
The issue seems to be with the {DIR} variable in the database path in bukkit.yml. For whatever reason the backslashes are stripped out when banhammer registers its path. I was able to work around this by manually setting the path. I changed the bukkit.yml default 'url: jdbc:sqlite:{DIR}{NAME}.db' to 'url: jdbc:sqlite:database\{NAME}.db'. This puts all plugin's .db files in a single folder named da

[2014-05-25 13:59] SnowBlitzz commented on #102
Same problem still occuring. Lags for a while when I /ban or /pardon and sometimes crashes

[2014-05-30 23:27] sillvva commented on #98
Could you update the instructions in the wiki to how it should be exactly now? It seems to still show the t without a -. So it appears to be based on an older version/snapshot.

[2014-05-30 23:33] sillvva opened #104 "Instructions in the wiki seem to be outdated"
According to issue https://github.com/grandwazir/BanHammer/issues/98, you updated the syntax for temp banning, but it doesn't seem that you updated the instructions page in the wiki. Just wondering if you could update it because temp bans are causing a bit of confusion on our server at the moment.

[2014-05-31 11:46] justinkruit commented on #101
I got the same issue to, but I can't fix it that way.
Can you please make a new version, grandwazir, that fix that?

[2014-06-10 19:43] robertBreese opened #105 "Receiving Error when attempting to run BanHammer"
Our server is running off Spigot which I do believe could be the culprit to why we are getting this error.

Screenshot of the Error: http://i.gyazo.com/0c138d74ef1d25be7448ec793bed6ef0.png

[2014-08-01 19:38] Sharrq commented on #100
Im sure you are working hard on this, but I am wondering if there is an ETA on this, or if this was already added to a dev build?

The only reason I ask is because we are in the process of going through all of our plugins to determine if they have a UUID Update or not, and unfortunately our current Ban Plugin will not be updating to UUID so we are looking for a replacement. BanHammer seems to be t

[2014-08-01 23:05] grandwazir commented on #100
@Grasty I am always glad to see people using my work. It is still work in progress. I was rushing to do it for when 1.7 came out but then saw that the UUID integration was pushed back so I left it for a while. Since I am going to have to change the database schema anyway to support UUID I have taken the opportunity to add comments to bans and players as an additional feature. As for when it will b

[2014-08-02 01:28] Sharrq commented on #100
Thanks for the quick response :) I am willing to test it for you once you have it ready.

[2014-08-02 20:08] grandwazir commented on #100
This is in and now working on the experimental branch. I'll let you know when there is a build available for testing; I've still got to test and debug the other commands before releasing a beta build.

[2014-08-02 20:08] #100 closed, assigned to grandwazir

[2014-08-11 16:02] captbunzo opened #106 "Could not pass event AsyncPlayerPreLoginEvent to BanHammer v2.4.0"
I am regularly getting this error on my server (I think on every player login).

[code]

Any thoughts?

[2014-08-16 20:27] r-clancy opened #107 "Feature Suggestion: Place user in group on ban."
Having the ability to place a user in a certain group when they're banned (and restoring their group when they're unbanned) would be a nice feature - this would be especially useful if there is Website <-> Minecraft synchronization (ie banned users can only access certain parts of the forums, ban appeals for instance).

[2014-10-20 08:01] ArtificialTruth opened #108 "Error on join"
Saw this error. I'm not banned btw.
http://pastebin.com/uWMSiBHJ

[2014-11-28 14:34] PiLoT- opened #109 "Needs UUID Support"
using spigot 1.8

[2014-12-08 01:58] QueueAmI commented on #100
I'm taking a look at your experimental code. I was going to try it out on a test server, but I will eventually need to migrate an existing database. Any thoughts on when you may have code to assist with this? I'm a little new to java coding, but I may take a crack at it on my own as time allows.

[2014-12-16 21:40] grandwazir commented on #100
The code to migrate databases is pretty much there as far as I remember but it hasn't been tested thoroughly. If anyone has a database then can send me to use for testing purposes that would be excellent.

I am looking for people to help maintain my projects. If you are interested in helping I can go through the code with you and the things that need doing. The database specific stuff is rather co

[2014-12-16 21:40] grandwazir commented on #109
UUID support works in the experimental branch. I assume you are using the latest stable version?

[2014-12-17 03:46] QueueAmI commented on #100
Hmm, I couldn't find anything specific to go through and convert an old database in the experimental code. I did manage to get the experimental version to run, but I had to fix a small bug in one of the test modules where you had not specified the "Type" of comment to be a "BAN_REASON". After fixing that, everything compiled and runs perfectly as far as I can tell.

I've put together a small C# ap

[2014-12-17 03:57] PiLoT- commented on #109
i was. but Queueami is on of my mods, if you want to close this you can

[2014-12-26 15:59] MithrandirCraft opened #110 "Some Requests"
Here's two requested functions I would appreciate to be added to the plugin:

*A special additional permition, so that silent expulsions, kicks etc... can be seen by certain players like Moderators and Administrators.

*MAC adress banning. This would help in the fight for preventing users who access the server through proxy in order to avoid router IP adress bans, or simply have dinamic IP's, whic

[2014-12-26 23:24] QueueAmI commented on #110
I'll take a look at those when I get a chance. Right now, I'm trying to
track down an issue where if there is a pardon in a player's history, the
history command won't show anything. Same goes for the recent command.

On Fri, Dec 26, 2014 at 7:59 AM, Mithrandir notifications@github.com
wrote:

[2014-12-27 01:35] MithrandirCraft commented on #110
Thank you for considering my requests :+1:

[2014-12-27 02:03] grandwazir commented on #110
@QueueAmI The recent command doesn't show the the pardoned ban or any bans at all?

[2014-12-27 02:16] QueueAmI commented on #110
It doesn't show any bans at all. I figured it out though. It's because
there was no record for who pardoned the player.

On Fri, Dec 26, 2014 at 6:03 PM, James Richardson notifications@github.com
wrote:

[2014-12-30 18:25] Vidsify opened #111 "MySQL Database"
Hello

So how do I set it up in the database.yml file?

Thanks in advance
Vidsify

[2015-01-12 21:22] rustyshakelford2 commented on #109
You should upload a release with UUID support to bukkitdev. People who don't know about your github are declaring the plugin dead. Also i'd rather not have to compile it myself.

[2015-01-17 21:09] xLRDx commented on #109
Hi i understand that the experimental branch is well experimental. I have built the plugin and thrown it on a test server as and it ends up deleting all of the bans. Is there a way to just migrate the bans to use UUID's instead. Is there an actual experimental build somewhere already built that doesn't have this issue?

[2015-01-18 15:02] #111 closed

[2015-01-22 18:22] MarioG1 commented on #109
You got the experimental branch build working?

[2015-01-23 01:30] xLRDx commented on #109
Mhm was able to ban kick etc just got rid of all the other previous bans

[2015-01-23 16:04] PiLoT- commented on #109
@MarioG1 ive got a guy creating a program to convert an old form ban list to a uuid supported one

@QueueAmi

[2015-01-24 09:04] MarioG1 commented on #109
@xLRDx Can you please paste/sand me an link of the compiled jar. I always get errors on the tests after compiling.

[2015-01-24 18:16] PiLoT- commented on #109
@MarioG1 The compiled jar still wont convert old versions of the databse though

[2015-01-24 20:36] MarioG1 commented on #109
This is not the problem. I'll write an short SQL script which will convert it for me. But this will only work if you also have statistics or any other plugin installed which already saves player names and uuids in an database.

[2015-01-25 18:48] xLRDx commented on #109
@MarioG1 I suppose so, as long as it is ok with @grandwazir Will have to wait till I am home though

[2015-01-25 18:59] MarioG1 commented on #109
@xLRDx Thx.

[2015-01-28 22:32] sjoerdtim opened #112 "No dev build link + UUID support"
The plugin doesn't currently have UUID support and the UUID change is going to happen in less than a week. I, and many others, really need a version with working UUID support and auto conversion to stop hackers and other banned people from coming back by changing their name.

I've heard the dev say that UUID support is on the dev builds, but wherever I search there is not a dev build link to find

[2015-01-30 17:51] grandwazir commented on #112
Hi. UUID support is complete in the experimental version but it appears I haven't uploaded it to the dev repostiory. Creating a build is now complicated by the fact that Bukkit is no longer available which breaks my automated build system. Since the last build I have also had to rebuild my home machine which also means I haven't got my development environment working yet.

The good news is that UU

[2015-01-30 17:52] grandwazir commented on #109
@xLRDx It is fine with me as long as people don't expect me to support it. Additionally the bans are not deleted, new database tables are created instead. Your old tables are still there but not used by the experimental version. This is so they can be converted when I finish the conversion part of the plugin.

[2015-01-30 17:54] grandwazir commented on #109
I've posted a explanation of what I am hoping to do in #112

[2015-01-30 17:56] rustyshakelford2 commented on #112
Your work is much appreciated. I look forward to the update. Does someone have the link to the database conversion utility?

[2015-01-30 19:59] MarioG1 commented on #112
Use the spigot maven repo instead of the bukkit ;)

http://www.spigotmc.org/wiki/spigot-maven/

[2015-01-30 22:39] QueueAmI commented on #112
I was working on an external conversion, but i kept running into problems. I haven't finished a version that you can run successfully.

[2015-01-31 20:35] xLRDx commented on #109
@grandwazir @MarioG1 I have chosen not to share the build due to the fact that I do not wish to be held accountable for any issues that arise. It would be best if we wait for the official build. Truthfully it is not all that hard to build when you have some knowledge in this. It is just a matter of fixing the hiccups caused by certain things.

[2015-02-01 21:40] grandwazir commented on #109
A quick update. BanHammer is now working correctly with UUIDs and is also now converting the database to the new format successfully as well. There are still a few minor outstanding issues.
- Colour issue with most commands (cosmetic but annoying)
- It is a bit noisy when it converts the database - effort to stop that is more than it is worth.

Once I have tracked down the colour issue and made su

[2015-02-03 16:03] MarioG1 opened #113 "Players aren't kicked on ban (Spigot)"
Banhammer-Version: ban-hammer-3.0.0-20150201.213901-1-shaded
Spigot-Version: any (1.8)

If you ban an player he isn't kicked form the server:

Console Error: http://pastebin.com/6321Jw2G

[2015-02-03 17:13] QueueAmI commented on #113
I've noticed this as well. Attempted to fix it myself but couldn't get it to work.

[2015-02-04 00:11] Sandukhan commented on #113
Same problem here, testing banhammer 3.0.0 on Bukkit 1.7.2 and Spigot 1.8

1.a banned player isn't kicked from the server

2.banlimits dosent seems to work, only perm-bans possible

3.a players banhistory, thats more than 1 page long dosent show up
http://pastebin.com/d5ghF3Qr

[2015-02-04 16:39] rustyshakelford2 commented on #109
Thanks for the update! It seems to be mostly working, though when you ban a player it has an error kicking them. If you manually kick them after the ban it does work.

[Server thread/INFO]: rustyshakelford2 issued server command: /ban -t:1m rustyshakelford2 test
[Craft Scheduler Thread - 14/ERROR]: Could not pass event BanHammerPlayerBannedEvent to BanHammer v3.0.0-SNAPSHOT
Caused by: java.lang.Il

[2015-02-04 16:54] rustyshakelford2 commented on #113
I had the same error with the kick, though timed bans are working for me. I banned myself for 1 minute and was able to get on after it expired. Also for some reason after the database upgrade /bh recent was showing bans from 2012. Bans done after the upgrade show up though.

[2015-02-04 20:58] MarioG1 opened #114 "Banhammer Isn't working at all on servers in offline mode."
I have an server network with bungeecord and banhammer on all servers.

The problem is that banned players can join!

The servers (Spigot) behind an bugee proxy get the correct uuid of the players so this can't be the problem.

[2015-02-04 21:03] xLRDx commented on #114
Yea i am having this issue as well.

[2015-02-04 22:33] xLRDx commented on #113
Simple fix would be to change the commands that are all extend AbstractAsynchronousCommand to AbstractSynchronousCommand as kicking a player in a asynchronous runnable will not work needs to be synchronous

[2015-02-04 22:34] xLRDx commented on #114
This is most likely a duplicate of issue #113

the issue is fixable as shown here https://github.com/grandwazir/BanHammer/issues/113#issuecomment-72954744

[2015-02-04 22:54] MarioG1 commented on #114
I think not that this is related to #113 because its working fine if the server is in online mode ;)

[2015-02-04 23:37] xLRDx commented on #114
Sorry my mistake we are sort of both right the issue when fixed brings a new issue to attention and that is the #113 issue.

It is related to how @grandwazir handles commands. He creates a Async task which the method getPlayer().kick("message") does not support. Get rid of the issue about online/offline mode and its fixed. I have a working version on my server right now running in bungee / spigot

[2015-02-05 11:59] xDeeKay commented on #109
Just updated to the version you provided, but I'm given this massive error: http://pastebin.com/bwnv5hRr

[2015-02-05 12:32] grandwazir commented on #109
@xDeeKay It is meant to do that. See "It is a bit noisy when it converts the database - effort to stop that is more than it is worth." You shouldn't be getting the persistence exception though. Could you give me a dump of your database to test with please.

[2015-02-05 12:36] grandwazir commented on #113
@xLRDx Simple but not ideal. The ban command does work on the database and you don't want that holding up the main thread. You could do that swap for the moment as a way to make it work but in the long term I am going to fix this by simply scheduling the creation of the event in a synchronous way.

[2015-02-05 12:38] grandwazir commented on #114
The reason that this code exists is that it is impossible to rely on any information about players when the server is running in offline mode. When I made that change though I did not consider bungee cord servers. I'll remove it in the next version and instead log a warning to the console if someone is running with offline mode on.

[2015-02-05 17:35] xDeeKay commented on #109
Oh, yes I was referring to the actual errors. Is Dropbox ok?
[removed]

[2015-02-05 18:07] grandwazir commented on #109
@xDeeKay Thanks for the database to test with. I've removed the link from your post now I have downloaded it.

[2015-02-05 20:31] xLRDx commented on #114
Yep fully get the idea behind it. I wonder if there is a way to check if the server is running behind a bungee. I know if the server owner chooses to use spigot then they add a setting but that is not reliable either.

[2015-02-05 20:33] xLRDx commented on #113
@grandwazir yes i know it isnt ideal but needed a temp fix until you could fix the issue. I have since done sort of what you said you are going to do now but it is a bit sloppy XD. Was just trying to combat Mojang and its name changes. Been a nightmare really.

[2015-02-05 20:48] sjoerdtim commented on #109
I just tried the jar, and although it doesn't give me any errors, all of the commands just give no response. So any commands like /bh, /ban, etc didn't work.

I was forced to downgrade back to the old version by this, but now tomorrow people will have the ability to bypass my bans by changing name.

[2015-02-05 20:52] grandwazir commented on #113
@xLRDx If you want a temporary fix I'd just get it to inherit from AbstractSynchronous it is much safer and less likely to break anything. I won't be able to commit or build anything new until Sunday I think so you might want to fix it and build it yourself in the meantime.

[2015-02-05 20:56] grandwazir commented on #109
@sjoerdtim If the game does that it means there has been an error loading the plugin and you should check your error log for more details.

A solution which will work until a proper version is out is to do the following:
- Backup or make a copy of your database
- Export all the bans using the export command
- Clear the database
- Upgrade to the experimental version
- Import all the bans

It will i

[2015-02-05 23:52] xLRDx commented on #113
@grandwazir Alright thanks. Will do :+1:

[2015-02-07 15:30] HoaxIT opened #115 "bh export causes the server to hang"
as the title says, 15k bans cause bh export to hang the server

[2015-02-07 21:35] grandwazir commented on #115
Yes it might do. The bans have to be exported on the main thread because of the way the server is organised. I can add a feature to schedule exporting the list over a period of time which might help the situation.

[2015-02-11 23:10] xLRDx opened #116 "Issues with the database.yml"
Does this not work with setting up mysql?

[2015-02-12 05:52] xLRDx commented on #116
Correction using the testing version

[2015-02-12 13:10] sjoerdtim commented on #109
@grandwazir tried that and this caused everyone who has ever been banned to be permanently banned.
This means that not only people who are banned right now are banned because of it, but also perm bans someone who, for example, had a one day ban a month ago and has been unbanned for ~29 days already, which means we'd lose most of our server because of bans and we can't use that.

Also some guy at o

[2015-02-12 13:21] PiLoT- commented on #109
@sjoerdtim ip ban time?

[2015-02-12 13:24] sjoerdtim commented on #109
@PiLoT- He's been IP-banned months ago, but a simple VPN or Proxy gets around that.

[2015-02-14 14:52] PiLoT- opened #117 "kick broadcasts arent displayed to anyone but the command issuer"
if i kick player X it only tells me theyve been kicked not the other players or staff

[2015-02-24 15:28] NeonLights10 commented on #109
Hey, when I try to enable Banhammer on a clean server (nothing added, I was having issues enabling it with my current server), I get this "character to be escaped is missing" error. Here's the error: http://pastebin.com/T0egpTUj

Hope you can help.

[2015-02-28 18:09] xDeeKay commented on #109
@grandwazir Hey, any progress on that db I sent you? Would love to be able to update asap.

[2015-03-04 15:55] rustyshakelford2 commented on #114
We recently switched to bungeecord and I discovered this bug the hard way. Had to banish a few griefers using /minecraft:ban. Any eta on a fix?

[2015-03-20 02:42] xJash opened #119 "Ban Hammer not making connection to SQL DB, everything else does."
here is my DB.yml:

database:
    username: root
    isolation: SERIALIZABLE
    driver: com.mysql.jdbc.Driver
    password:
    url: jdbc:mysql://localhost:3306/banhammer

And here is the error:

[22:34:48] [Server thread/INFO]: [BanHammer] Disabling BanHammer v2.4.0
[22:34:49] [Server thread/INFO]: [BanHammer] Enabling BanHammer v2.4.0
[22:34:49] [Server thread/ERROR]: Error occurred while enabl

[2015-03-20 13:02] TheWhiiteNinja commented on #115
I want to ask what plugins is using banhammer ?

[2015-03-24 04:55] rustyshakelford2 commented on #114
An update on this would be awesome.

[2015-03-27 15:28] TheWhiiteNinja commented on #115
And can you make the plugin for 1.8.x and for bungee cord

[2015-03-28 07:25] xDeeKay commented on #109
@grandwazir ?

[2015-03-29 01:21] grandwazir commented on #109
Sorry been overcommitted recently. Got some time over the next couple of
days. Will look into it, I haven't forgotten!
On 28 Mar 2015 07:25, "xDeeKay" notifications@github.com wrote:

[2015-04-04 10:31] xDeeKay commented on #109
Aha he lives! No worries.

[2015-05-16 14:38] davidlohle commented on #109
Just stopping by to say the death of this plugin is upsetting, as UUID support is critical. It's been a great run, thanks!

[2015-06-18 13:26] MithrandirCraft opened #120 "(Suggestion) MAC IP adress ban"
Hello. I would like to suggest an extra expulsion feature for this plugin.

Sometimes it just isn't enough whith an IP ban in order to block bad players. Some routers reset their network IP adress just whith a simple reset.
Proxies and VPN's are also valid ways around the issue of getting banned from a server.

In fact, I've already suggested this in the past, but if it where possible to ban MAC I

[2015-06-18 13:30] QueueAmI commented on #120
MAC address banning won't work across the Internet. Every router replaces
the MAC with its own as it forwards it. You can only get the MAC of the
last router it passed through, most likely the one your computer is
connected to.
On Jun 18, 2015 6:26 AM, "Mithrandir" notifications@github.com wrote:

[2015-07-28 13:32] MithrandirCraft opened #121 "(Suggestion) mySQL database support"
Just as the title says, I would like to request sql support for this plugin.

It would be really usefull for data compression and structuration purposes + I can use all the data for my server's website in order to display public bans.

Hoping this is considered :)

[2015-08-05 02:54] Sythisis opened #122 "kick/bans broadcasting to everyone"
I have set all the permissions so only people who are staff can see the kick/bans but non-staff says people can still see the messages popping up on their screen

[2015-08-11 19:27] MithrandirCraft opened #123 "Error on console during player join event."
I found this error on console when I joined my own server:

http://hastebin.com/miyocizozo.avrasm

Ban Hammer version: 2.4.0

[2015-08-15 09:14] QueueAmI opened #124 "Getting wrong UUID for player"
We've been having an issue where sometimes a ban is issued and the player is still able to join while the ban is active. I did some research and found that what is causing this is the player's UUID in the banhammer.db is incorrect. Why this would happen, I'm not sure, but it's frequent enough that we get about 1 out of every 10 bans not holding.

[2015-08-15 09:52] grandwazir commented on #124
Thanks for the bug report. I'll have a look at it if you can give me a
situation which causes the bug. I am guessing it might be a character
casing issue - Aaron not being the same as aaron.
On 15 Aug 2015 10:14 am, "Queue" notifications@github.com wrote:

[2015-08-15 09:56] QueueAmI commented on #124
That's a good thought. I haven't tested playing with the case. I'll try
that when I get a chance and report back.
On Aug 15, 2015 2:52 AM, "James Richardson" notifications@github.com
wrote:

[2015-08-15 19:59] QueueAmI commented on #124
Ok, I did a test this morning where I used the wrong capitalization on a
new ban and sure enough, it got back the wrong UUID. I've instructed our
mods/admins to, for now, make sure to use the exact capitalization (use the
tab key or whatever). I have been able to go in and fix any player IDs that
were done wrong, so we have a work around for now. Thanks for the idea
about the problem.

On Sat, Aug

[2015-09-10 00:21] #121 closed

[2015-09-10 21:12] MithrandirCraft opened #125 "SQL Error on logs"
Hello, this sql error is affecting my server's performance drastically. Can I get a hint on what is causing it?
http://hastebin.com/wafosowaka.profile

Thank you very much.

[2015-09-13 00:37] grandwazir commented on #125
Hello, it looks like for some reason an invalid timestamp was saved into
the database in the createdAt column.

Find that record and set timestamp manually, using PHPMyAdmin for example,
and replace it with a valid timestamp. That should get rid of the errors.

Alternatively just delete that ban and create it again. Let me know how you
get on.
On 10 Sep 2015 10:12 pm, "Mithrandir" notifications@gi

[2015-11-08 09:51] Permanently opened #126 "UUID Support?"
Hi,
when will you add UUID support to BanHammer? I love this plugin and I really want this to be added c:
Thanks

[2015-11-16 20:24] grandwazir commented on #126
It is already implemented in the latest beta version. Did you try that?

[2015-11-18 16:02] Permanently commented on #126
I can't find it... :/

[2015-12-23 13:16] Permanently commented on #126
...?

[2016-01-02 12:57] MithrandirCraft commented on #120
@QueueAmI I never got to answer this, but I'm wondering about what effective ways I have in order to permanently ban users from joining with a new account.

[2016-01-02 17:28] QueueAmI commented on #120
Right now, an IP ban is really your only option. We have to deal with this
too and it's really annoying.

That said, I wonder if there's some client/computer information that could
be grabbed from the client when they log in. Kind of the way Internet
browsers work. If so, there might be something in there that could be used
for a more permanent ban.
On Jan 2, 2016 4:57 AM, "Mithrandir" notificatio

[2016-01-02 18:12] grandwazir commented on #120
More importantly is that at the level that Java works you are not able to get at a client's MAC easily anyway.

To resolve this I did create an addon plugin to BanHammer called Alias. What this plugin did was record the names and IP addresses of players who logged in. It then used this information to automatically ban someone who logged in using a different account but from the same IP address. Th

[2016-01-02 18:20] MithrandirCraft commented on #120
@grandwazir I don't really understand what your addon does.

For what I interpret with what you said, "Alias" blocks all players that login from an IP, once you have banned one of them... I could just search what other accounts are registred with the IP, and ban the ones I chose. It's not very usefull for when the player logs from another IP...

Yeah, it doesn't look perfect u_u

[2016-01-02 18:54] grandwazir commented on #120
@MithrandirCraft You could do it manually as well. The main aim was to stop casual attackers. If someone is determined enough to change addresses after each time they are banned it would not help.

[2016-01-02 19:01] MithrandirCraft commented on #120
@grandwazir Thank god what players hate most is losing their progress. :P

Just consider any solution you may find or think of :)

[2016-01-10 21:00] MithrandirCraft commented on #123
Hi there, @grandwazir, could you please fix this? It's still spamming the console every now and then.

[2016-01-16 17:31] MithrandirCraft opened #127 "specific Factions compatibility"
@grandwazir
Please read this:
https://github.com/MassiveCraft/Factions/issues/1002

Thank you for taking a look :)

[2017-05-09 20:06] #107 closed

[2018-11-13 08:01] TRose2000 opened #128 "BanHammer"
ik this isnt really a issue but is it possible to hand over this project.
i would like to use this plugin and might wanna update this with my friends for 1.12.2

[2018-11-13 19:24] grandwazir commented on #128
Sure you can just fork and do what you want with it; the code is open
source. You may need to build BukkitUtilities as well let me know if you
need some help with that.

On Tue, 13 Nov 2018, 08:01 Thrasilias <notifications@github.com wrote:

[2018-11-14 04:10] ghost commented on #128
What version did this use btw

[2018-11-14 15:12] ghost commented on #128
there is 1 issue. i can't find old buildtools for 1.7.10

[2018-11-14 20:12] grandwazir commented on #128
Buildtools? Which dependency exactly?

On Wed, 14 Nov 2018, 15:12 Thrasilias <notifications@github.com wrote:

[2018-11-14 20:13] grandwazir commented on #128
The details should be in pom.xml - it specifies all the versions.

On Wed, 14 Nov 2018, 04:10 Thrasilias <notifications@github.com wrote:

[2018-11-15 18:35] ghost commented on #128
well in order to build stuff thats needed for BanHammer i need to compile
https://github.com/grandwazir/bukkit-utilities-commands/blob/master/pom.xml

but as far as i know there isnt a version for it anymore (buildtools currently only have 1.8 - 1.13.2)

and this needs 1.7.9

[2018-11-15 20:59] grandwazir commented on #128
Just compile it against 1.8 and see what happens. Any breakages should be
really minor which you can fix.

On Thu, 15 Nov 2018, 18:35 Thrasilias <notifications@github.com wrote:

[2019-01-18 09:55] #44 closed

[2019-02-01 04:02] NPCtom opened #130 "1.12 Support?"
Any plans for this project to be updated? Also did any administrator of the Minecraft server Shotbow contact you regarding the use of your plugins?

[2019-02-05 19:12] grandwazir commented on #130
Hi. I do not have any plans to update the plugin as I no longer run a Minecraft server. The uncertainty surrounding the Bukkit API also discourges me.

That said all the code is available and I am accepting pull requests to fix bugs submitted by others. You are welcome to fork the code and continue the work.

I haven't heard from anyone from the Shotbow Minecraft server. Why do you ask?

[2019-02-05 19:26] NPCtom commented on #130
Hi grandwazir,

Thanks for the response! The Bukkit API is definitely dying. I will try and work on the plugin too.

I bypassed the use of the /help command in game and was able to see some of their plugins. They had a plugin called BanHammer but I think that is the other Ban plugin.

[2019-02-17 15:19] Thrasilias commented on #130
@NPCtom Shotbow Indeed uses BanHammer as far as I know, and they made their fork private

[2019-02-17 18:56] NPCtom commented on #130
@TRose2000 Thanks for that. How did you know this?

[2019-02-17 19:09] Thrasilias commented on #130
I have connections with their developers who updates it themself

[2019-11-07 14:02] Permanently commented on #126
Update: I never found that beta version.

[2019-11-07 14:02] #126 closed

[2020-06-16 21:09] Thrasilias commented on #128
hey, today i was trying to get this compiled and failed since there is no maven-parent repo

[2020-06-16 21:32] grandwazir commented on #128
Yes, the repo has been down for a while. You can however download a copy from the download page on GitHub.

-------- Original Message --------
On 16 Jun 2020, 22:10, Thrasilias wrote: